doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="icon" href="../public/img/favicon.png">
        link(rel="stylesheet", href="../public/css/products.css") 
        
        title Products 72 Cells Poly Crystaline
    body 

        include ./nav.pug


        div.products-container
            div.cover-img
                img(src="../public/img/solar16.jpg", alt="Career")

                div.products
                    h2 Products > PV Module

                    div.productsMsg
                        h3 Poly Crystaline


        div.products-sec
            h2 72 Cells - Poly Crystaline

            div.card
                div.image
                    img(src="../public/img/products/productImg.png", alt="Product")
                div.specs
                    h3 Technical Specifications (ECE24CP250)
                    p #[span Model :] ECE24CP250
                    p #[span Power in Watts :] 250 W
                    p #[span Voltage at max power :] 39.74 V
                    p #[span Current at max power :] 6.29 A
                    p #[span Solar Cells per Module :] 72 (12 * 6) Cells

                    div.download-button
                        a(href="../public/dataSheets/72CellPoly250W.pdf" download) Download Data Sheet


            div.card
                div.image
                    img(src="../public/img/products/productImg.png", alt="Product")
                div.specs
                    h3 Technical Specifications (ECE072P325)
                    p #[span Model :] ECE072P325
                    p #[span Power in Watts :] 325 W
                    p #[span Voltage at max power :] 39.24 V
                    p #[span Current at max power :] 8.3 A
                    p #[span Solar Cells per Module :] 72 (12 * 6) Cells

                    div.download-button
                        a(href="../public/dataSheets/72CellPoly325W.pdf" download) Download Data Sheet

            div.card
                div.image
                    img(src="../public/img/products/productImg.png", alt="Product")
                div.specs
                    h3 Technical Specifications (ECE072P330)
                    p #[span Model :] ECE072P330
                    p #[span Power in Watts :] 330 W
                    p #[span Voltage at max power :] 39.6 V
                    p #[span Current at max power :] 8.35 A
                    p #[span Solar Cells per Module :] 72 (12 * 6) Cells

                    div.download-button
                        a(href="../public/dataSheets/72CellPoly330W.pdf" download) Download Data Sheet

            div.card
                div.image
                    img(src="../public/img/products/productImg.png", alt="Product")
                div.specs
                    h3 Technical Specifications (ECE072P335)
                    p #[span Model :] ECE072P335
                    p #[span Power in Watts :] 335 W
                    p #[span Voltage at max power :] 39.74 V
                    p #[span Current at max power :] 8.43 A
                    p #[span Solar Cells per Module :] 72 (12 * 6) Cells

                    div.download-button
                        a(href="../public/dataSheets/72CellPoly335W.pdf" download) Download Data Sheet

            div.card
                div.image
                    img(src="../public/img/products/productImg.png", alt="Product")
                div.specs
                    h3 Technical Specifications (ECE072P340)
                    p #[span Model :] ECE072P340
                    p #[span Power in Watts :] 340 W
                    p #[span Voltage at max power :] 39.85 V
                    p #[span Current at max power :] 8.54 A
                    p #[span Solar Cells per Module :] 72 (12 * 6) Cells

                    div.download-button
                        a(href="../public/dataSheets/72CellPoly340W.pdf" download) Download Data Sheet

            div.card
                div.image
                    img(src="../public/img/products/productImg.png", alt="Product")
                div.specs
                    h3 Technical Specifications (ECE072P345)
                    p #[span Model :] ECE072P345
                    p #[span Power in Watts :] 345 W
                    p #[span Voltage at max power :] 41.04 V
                    p #[span Current at max power :] 8.45 A
                    p #[span Solar Cells per Module :] 72 (12 * 6) Cells

                    div.download-button
                        a(href="../public/dataSheets/72CellPoly345W.pdf" download) Download Data Sheet

            div.card
                div.image
                    img(src="../public/img/products/productImg.png", alt="Product")
                div.specs
                    h3 Technical Specifications (ECE072P350)
                    p #[span Model :] ECE072P350
                    p #[span Power in Watts :] 350 W
                    p #[span Voltage at max power :] 41.40 V
                    p #[span Current at max power :] 8.48 A
                    p #[span Solar Cells per Module :] 72 (12 * 6) Cells

                    div.download-button
                        a(href="../public/dataSheets/72CellPoly350W.pdf" download) Download Data Sheet





        include ./footer.pug


        script(src="../public/js/products.js") 