doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="icon" href="../public/img/favicon.png">
        link(rel="stylesheet", href="../public/css/amc.css") 
        title Large Projects
    body 

        include ./nav.pug

        div.solutions-container
            div.cover-img
                img(src="../public/img/amc.jpg", alt="Solutions")

                div.solutions
                    h2 Solutions 

                    div.solutionsMsg
                        h3 Be bright, turn to solar light


        include ./icons.pug


        div.amc
            h2 Annual Maintainance Cost (AMC)

            div.card 
                div.sec
                    h3 Heading 1
                    hr
                    p 1) Checking of insulation on string wiring
                    p 2) Checking of connectors on string wiring extension
                    p 3) Checking grounting of structure
                    p 4) Checking of grounded conductors installed
                    p 5) Checking of solar panel properly mounted and sealed
                    p 6) Checking of conduction and glands condition
                    p 7) Checking of damage of modules
                    p 8) Checking of shading on modules
                    p 9) Checking of DCDB Box
                    p 10) Checking of DC fuse condition
                    p 11) Checking of termination of conductors
                    p 12) Checking of DC Earthing
                    p 13) Checking of proper conductor size and insulation types
                    p 14) Checking of DC & AC SPD condition
                    p 15) Checking of AC Earthing
                    p 16) Checking of Net meter and Gen. meter condition
                    p 17) Checking of main isolator condition
                    p 18) Checking of Inverter connection
                    p 19) Checking of Inverter Condition
                    p 20) Checking of Inverters Earthing
                    p 21) 12 times cleaning in Year
                    p 22) Checking of monthly billing
                    p 23) Checking of WIFI Stick configuration
                    p 24) Checking of lightining arrester condition
                    p 25) Emmergency visit on site also include in this scope
                    p 26) Note : If any extra material required, on site it will be extra as per actual cost.

                div.sec
                    h3 Heading 2
                    hr

                    p 1) Checking of insulation on string wiring
                    p 2) Checking of connectors on string wiring extension
                    p 3) Checking grounting of structure
                    p 4) Checking of grounded conductors installed
                    p 5) Checking of solar panel properly mounted and sealed
                    p 6) Checking of conduction and glands condition
                    p 7) Checking of damage of modules
                    p 8) Checking of shading on modules
                    p 9) Checking of DCDB Box
                    p 10) Checking of DC fuse condition
                    p 11) Checking of termination of conductors
                    p 12) Checking of DC Earthing
                    p 13) Checking of proper conductor size and insulation types
                    p 14) Checking of DC & AC SPD condition
                    p 15) Checking of AC Earthing
                    p 16) Checking of Net meter and Gen. meter condition
                    p 17) Checking of main isolator condition
                    p 18) Checking of Inverter connection
                    p 19) Checking of Inverter Condition
                    p 20) Checking of Inverters Earthing
                    p 21) 6 times cleaning in Year 4 times physical checkup in year
                    p 22) Checking of monthly billing
                    p 23) Checking of WIFI Stick configuration
                    p 24) Checking of lightining arrester condition
                    p 25) Emmergency visit on site also include in this scope
                    p 26) Note : If any extra material required on site it will be extra as per actual cost 
                    
                div.sec
                    h3 On Demand AMC scope of work 
                    hr

                    p 1) Checking of insulation on string wiring.
                    p 2) Checking of connectors on string wiring extension,
                    p 3) Checking grounting of structure
                    p 4) Checking of grounded conductors installed
                    p 5) Checking of solar panel properly mounted and sealed
                    p 6) Checking of conduction and glands condition
                    p 7) Checking of damage of modules
                    p 8) Checking of shading on modules
                    p 9) Checking of DCDB Box
                    p 10) Checking of DC fuse condition
                    p 11) Checking of termination of conductors
                    p 12) Checking of DC Earthing
                    p 13) Checking of proper conductor size and insulation types
                    p 14) Checking of DC & AC SPD condition
                    p 15) Checking of AC Earthing cheaking of Net meter and Gen. meter condition
                    p 16) Checking of Net meter and Gen. meter condition
                    p 17) Checking of main isolator condition
                    p 18) Checking of Inverter connections
                    p 19) Checking of Inverter Condition
                    p 20) Checking of Inverters Earthing
                    p 21) Cleaning of a system
                    p 22) Checking of WIFI Stick configuration
                    p 24) Checking of lightining arrester condition
                    p 25) Note : If any extra material required on site it will be extra as per actual cost    
                            

                div.sec
                    h3 On Demand AMC scope of work 
                    hr

                    p 1) Checking of insulation on a string wiring.
                    p 2) Checking of connectors on string wiring extension
                    p 3) Checking grounting of structure
                    p 4) Checking of grounded conductors installed
                    p 5) Checking of solar panel properly mounted and sealed
                    p 6) Checking of conduction and glands condition
                    p 7) Checking of damage of modules
                    p 8) Checking of shading on modules
                    p 9) Checking of DCDB Box
                    p 10) Checking of DC fuse condition
                    p 11) Checking of termination of conductors
                    p 12) Checking of DC Earthing
                    p 13) Checking of proper conductor size and insulation types
                    p 14) Checking of DC & AC SPD condition
                    p 15) Checking of AC Earthing
                    p 16) Checking of Net meter and Gen. meter condition
                    p 17) Checking of main isolator condition
                    p 18) Checking of Inverter connection
                    p 19) Checking of Inverter Condition
                    p 20) Checking of Inverters Earthing
                    p 21) 12 times cleaning in Year
                    p 22) Checking of monthly billing
                    p 23) Checking of WIFI Stick configuration
                    p 24) Checking of lightining arrester condition
                    p 25) Emmergency visit on site also include in this scope
                    p 26) Note : If any extra material required on site it will be extra as per actual cost


                div.sec
                    h3 Our Other Features 
                    hr

                    p 1) Wifi Stick / GPRS remote monotoring system
                    p 2) Insurance
                    p 3) Inverter Warranty Extension
                    p 4) System Expansion 
                    p 5) Solar water heater
                    p 6) Solar home light system 
                    p 7) Solar street light


                div.download-button
                    a(href="../public/dataSheets/amc.pdf" download) Download our AMC Sheet


        script(src="../public/js/solutions.js") 