doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="icon" href="../public/img/favicon.png">
        link(rel="stylesheet", href="../public/css/amc.css") 
        title Large Projects
    body 

        include ./nav.pug

        div.solutions-container
            div.cover-img
                img(src="../public/img/amc.jpg", alt="Solutions")

                div.solutions
                    h2 Solutions 

                    div.solutionsMsg
                        h3 Be bright, turn to solar light


        //- include ./icons.pug


        div.amc
            h2 Annual Maintainance Cost (AMC)

            div.card 
                img(style='width: 70%;height:550px;display: block;margin-left: auto;margin-right: auto;' src='../public/img/amc/solarcleaning.png' alt='')
                #maindiv
                p(style='text-align: center;font-size: 40px;')
                    | We care for 
                    br
                    |             your Generation
                img(style='width: 70%;height:550px;display: block;margin-left: auto;margin-right: auto;' src='../public/img/amc/headerimg2.png' alt='')
                .flex-container
                    .flex-child
                        div(style='display: flex')
                            div(style='width: 30%;')
                                img(style='width: 100%;height:135px;' src='../public/img/amc/amc1.png' alt='')
                            div(style='width: 70%;display: flex;padding-left: 20px; align-items: center;')
                                p
                                | Maintain High  
                                br
                                |                         energy generation.
                    .flex-child
                        div(style='display: flex')
                            div(style='width: 30%;')
                                img(style='width: 100%;height:135px;' src='../public/img/amc/amc2.png' alt='')
                            div(style='width: 70%;display: flex;padding-left: 20px; align-items: center;')
                                p
                                | Preventive Care to  
                                br
                                |                         avoid breakdowns.
                    .flex-child
                        div(style='display: flex')
                            div(style='width: 30%;')
                                img(style='width: 100%;height:135px;' src='../public/img/amc/amc3.png' alt='')
                            div(style='width: 70%;display: flex;padding-left: 20px; align-items: center;')
                                p
                                | Overall safety and  
                                br
                                |                         longer equipment life.
                    .flex-child
                        div(style='display: flex')
                            div(style='width: 30%;')
                                img(style='width: 100%;height:135px;' src='../public/img/amc/amc4.png' alt='')
                            div(style='width: 70%;display: flex;padding-left: 20px; align-items: center;')
                                p
                                | Minimize accidental  
                                br
                                |                         risk with regular reports..
                    .flex-child
                        div(style='display: flex')
                            div(style='width: 30%;')
                                img(style='width: 100%;height:135px;' src='../public/img/amc/amc5.png' alt='')
                            div(style='width: 70%;display: flex;padding-left: 20px; align-items: center;')
                                p Select what fits you best we have plans!
                    .flex-child
                        div(style='display: flex')
                            div(style='width: 30%;')
                                img(style='width: 100%;height:135px;' src='../public/img/amc/amc6.png' alt='')
                            div(style='width: 70%;display: flex;padding-left: 20px; align-items: center;')
                                p
                                | Emergency visits,  
                                br
                                |                         just a call away
                div(style='text-align: center;display: flex; flex-wrap: wrap; justify-content: center;')
                    div(style='margin: 10px;')
                        p(style='width: 155px;padding-top: 10px; padding-bottom: 10px; background-image: linear-gradient(to right, #01ACEF, #01A550);color: white;') ANNUALY
                    div(style='margin: 10px;')
                        p(style='width: 155px;padding-top: 10px; padding-bottom: 10px; background-image: linear-gradient(to right, #01ACEF, #01A550);color: white;') HALF YEARLY
                    div(style='margin: 10px;')
                        p(style='width: 155px;padding-top: 10px; padding-bottom: 10px; background-image: linear-gradient(to right, #01ACEF, #01A550);color: white;') QUARTERLY
                    div(style='margin: 10px;')
                        p(style='width: 155px;padding-top: 10px; padding-bottom: 10px; background-image: linear-gradient(to right, #01ACEF, #01A550);color: white;') MONTHLY
                    

                div.download-button
                    a(href="../public/dataSheets/amc.pdf" download) Download our AMC Sheet

        include ./footer.pug
        script(src="../public/js/solutions.js") 