doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="icon" href="../public/img/favicon.png">
        link(rel="stylesheet", href="../public/css/products.css") 
        
        title Products Bifacial
    body 

        include ./nav.pug


        div.products-container
            div.cover-img
                img(src="../public/img/solar16.jpg", alt="Career")

                div.products
                    h2 Products > PV Module

                    div.productsMsg
                        h3 Bifacial


        div.products-sec
            h2 Bifacial

            div.card
                div.image-bifacial
                    img(src="../public/img/products/bifacial.jpg", alt="Product")
                div.specs
                    h3 Bifacial Solar Panel
                    p Bifacial solar modules offer many advantages over traditional solar panels. Power can be produced from both sides of a bifacial module, increasing total energy generation. They’re often more durable because both sides are UV resistant, and potential-induced degradation (PID) concerns are reduced when the bifacial module is frameless. Balance of system (BOS) costs are also reduced when more power can be generated from bifacial modules in a smaller array footprint. 
                    h4 What is a bifacial solar module?
                    p Bifacial modules produce solar power from both sides of the panel. Whereas traditional opaque-backsheeted panels are monofacial, bifacial modules expose both the front and backside of the solar cells. When bifacial modules are installed on a highly reflective surface (like a white TPO roof or on the ground with light-colored stones), some bifacial module manufacturers claim up to a 30% increase in production just from the extra power generated from the rear.
                    p Bifacial modules come in many designs. Some are framed while others are frameless. Some are dual-glass, and others use clear backsheets. Most use monocrystalline cells, but there are polycrystalline designs. The one thing that is constant is that power is produced from both sides. There are frameless, dual-glass modules that expose the backside of cells but are not bifacial. True bifacial modules have contacts/busbars on both the front and back sides of their cells.


                    //- div.download-button
                    //-     a(href="../public/dataSheets/66CellPoly300W.pdf" download) Download Data Sheet


            



            
        include ./footer.pug


        script(src="../public/js/products.js") 