doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="icon" href="../public/img/favicon.png">
        link(rel="stylesheet", href="../public/css/products.css") 
        
        title Products BIPV
    body 

        include ./nav.pug


        div.products-container
            div.cover-img
                img(src="../public/img/solar16.jpg", alt="Career")

                div.products
                    h2 Products > PV Module

                    div.productsMsg
                        h3 BIPV


        div.products-sec
            h2 BIPV 

            div.card
                div.image
                    img(src="../public/img/products/bipv.jpg", alt="Product")
                div.specs
                    h3 BIPV Solar Panels
                    p #[a(style="font-weight: 700") Building-integrated photovoltaics (BIPV)] are photovoltaic materials that are used to replace conventional building materials in parts of the building envelope such as the roof, skylights, or facades.[1] They are increasingly being incorporated into the construction of new buildings as a principal or ancillary source of electrical power, although existing buildings may be retrofitted with similar technology. The advantage of integrated photovoltaics over more common non-integrated systems is that the initial cost can be offset by reducing the amount spent on building materials and labor that would normally be used to construct the part of the building that the BIPV modules replace. In addition, BIPV allows for more widespread solar adoption when the building's aesthetics matter and traditional rack-mounted solar panels would disrupt the intended look of the building. These advantages make BIPV one of the fastest growing segments of the photovoltaic industry.

                    //- div.download-button
                    //-     a(href="../public/dataSheets/solarLantern.pdf" download) Download Data Sheet


            



            
        include ./footer.pug


        script(src="../public/js/products.js") 