doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="icon" href="../public/img/favicon.png">
        link(rel="stylesheet", href="../public/css/blogs.css")
        title Blogs
    body 

        include ./nav.pug


        div.blogs-container
            div.cover-img
                img(src="../public/img/blogs.jpg", alt="Blogs")


                div.blogs
                    h2 Blogs 

                    div.blogsMsg
                        h3 Solar power is going to be absolutely essential to meeting growing energy demands while staving off climate change.


        div.blogs-sec
            h2 Blog Posts

            div.card.card1
                div.head
                    div.image-sec
                        div.image
                            img(src="../public/img/blogs/1.jpg", alt="blog")
                        h4 ECE INDIA 
                    
                    div.title.blog1
                        h3 ECE India Energies EXHIBITING PROWESS IN SOLAR PANEL MANUFACTURING
                        p 
                            span.mui(class="material-icons") today
                            span.date July 15, 2021

                div.content                    
                    div.para
                        p India’s power demand is expected to rise from current figure of 153 GW to about 690 GW by 2035-36. The government has also understood that for a country with GDP growing at about 8 percent, going solar is no longer just a good-to-have option but the only viable one to bridge the gap between supply and demand.However, most of the Solar Panel Manufacturing companies fail to harness solar potential because of factors like low investment in R&D which results in low quality and inefficient products.
                        
                        p ECE India Energies Private Limited was established to provide fruitful services to the stakeholders through value addition withgood quality, efficiency and clean environment. Though the region of Maharashtra is yet to catch up in Solar Panel Manufacturing, ECE has managed to become an employment generator starting from a handful people in 2010 situated at Amravati. “Manufacturing of Solar Energy & Road Safety based products formed the initial base of the company, which later on went on to become a multi-faceted enterprise of green and solar energy products as well as services,” says Amit Arokar, Managing Director of the company.

                        p Solar Blinkers, Solar Water Pumps, Solar Fencing, Solar Street Lights, Road Safety systems like Traffic Signals, Traffic Controllers, Graphical Countdown Timer, etc. were the innovative products which company manufactured from the start.

 
                        p The new venture after successful installations of solar plants throughout the country was visualized and has come to reality with state of art 100 MW High Efficiency Solar panel the manufacturing facility at Amravati Manufacturing Unit of the company.


                        p ECE India Energies forms a solid ground with satisfied customers and successful consultancy services in EPC projects given to famous big names to name a few, Adani, Reliance, IRB etc. ECE India Energies and its team are committed to become a multi-billion venture serving society and nation to its fullest in coming 5 years.


                        h4 Focus on R&D

                        p ECE India aptly emphasizes research and development. Particularly in solar PV field, there remains large scope for innovation over wide-ranging aspects like solar cell technology, PV panel making process, structural arrangements, applications and operating efficiency etc. The projects being currently pursued include indigenous manufacturing of Nanopanels (in few watts), efficiency improvement by controlling panel temperature. Highly qualified persons in the company are an asset in this regard. Also, company actively supports Gender Equality in the workplacebecause of which company has 30 per cent Women staff who are equally contributing to company’s success.


                        p The company has its factory in Amravati, Maharashtra. The factory premise admeasures over 22000 square feet and houses all the necessary equipment, tools, and HR facilities to deliver best quality in manufacture with integration into units like In-house Design & Fabrication, Warehouse & Packaging,

                        h4 Quality Control and Research & Development.
                        p Owing to their world-class manufactured goods in a full-fledged infrastructure and post-sale support to customers has earned them faith of their clients.


                        p Every integrated unit at ECE India Energies is equipped with technologically advanced machineries and equipment as required for the manufacturing and processing by specific the department which has increased their production capacity to about 300 pieces per day. Owing to their world class manufactured goods in a full-fledged infrastructure and postsale support to customers has earned the the faith of their clients.





            div.card.card2
                div.head
                    div.image-sec
                        div.image
                            img(src="../public/img/blogs/2.jpg", alt="blog")
                        h4 Swapnil Chandane 
                    
                    div.title.blog2
                        h3 Pros of Solar Energy
                        p #[span(class="material-icons") today] 
                            span October 16, 2020

                div.content        
                    div.para
                        p Did you know that the energy sun provides to the earth for one hour could meet the global energy needs for one year.

                        p While it has been widely criticized for being expensive or inefficient, solar energy has now proved to be extremely beneficial - not only for the environment but also for private economy. Thanks to available Solar panel grants, as well as, the increasingly competitive prices in the market, solar energy has become the main source of energy for more and more families. The technology has been drastically improved the last years, and has been complemented by solar battery storage systems, turning solar into a significantly more efficient source of clean energy.

                        h4 Advantages of Solar Energy:

                        h4 Renewable Energy Source -   

                        p Among all the benefits of solar panels, the most important thing is that solar energy is truly renewable source of energy.  It can be harnessed in all areas of the world and is available every day. We cannot run out of solar energy, unlike some of the other sources of energy. Solar energy will be accessible as long as we have the sun, therefore sunlight will be available to us for at least 5 billion years when according to scientists the sun is going to die.

                        h4 Reduces Electricity Bills -
                        p Since you will be meeting some of your energy needs with the electricity your solar system has generated, your energy bills will drop. How much you save on your bill will be dependent on the size of the solar system and your electricity or heat usage. Moreover, not only will you be saving on the electricity bill, there is also a possibility to receive payments for the surplus energy that you export back to the grid. If you generate more electricity than you use (considering that your solar panel system is connected to the grid).

                        h4 Diverse Applications - 
                        p Solar energy can be used for diverse purposes. You can generate electricity (photovoltaic) or heat (solar thermal). Solar energy can be used to produce electricity in areas without access to the energy grid, to distill water in regions with limited clean water supplies and to power satellites in space. Solar energy can also be integrated into the materials used for buildings. Not long ago Sharp introduced transparent solar energy windows.

                        h4 Low Maintenance Costs - 
                        p Solar energy systems generally don’t require a lot of maintenance. You only need to keep them relatively clean, so cleaning them a couple of times per year will do the job. If in doubt, you can always rely on specialised cleaning companies, which offer this service from around £25-£35. Most reliable solar panel manufacturers offer 20-25 years warranty. Also, as there are no moving parts, there is no wear and tear. The inverter is usually the only part that needs to be changed after 5-10 years because it is continuously working to convert solar energy into electricity and heat

                        h4 Technology Development - Technology in solar Industry
                        p Technology in solar Industry is constantly advancing and improvements will intensify in the future. Innovations in quantum physics and nanotechnology can potentially increase the effectiveness of solar panels and double, or even triple, the electrical input of the solar power systems.


            div.card.card3
                div.head
                    div.image-sec
                        div.image
                            img(src="../public/img/blogs/3.png", alt="blog")
                        h4 Subhajit Roy 
                    
                    div.title.blog3
                        h3 Making India
                        p #[span(class="material-icons") today] 
                            span September 5, 2020

                div.content        
                    div.para
                        p India is betting on renewable energy to boost power generation and has set a target of installing 175 GW of renewable energy capacity by year 2022, which include 10 GW from solar. further in sept last year PM Narendra Modi has announced increasing the renewable energy target to 450 GW by 2030. accordingly country has made remarkable progress in this area during last few years.
                        p Read Full Article here: #[a(href="https://www.epmagazine.com/e" target="_blank") www.epmagazine.com] vol 8 Issue 11.


            div.card.card4
                div.head
                    div.image-sec
                        div.image
                            img(src="../public/img/blogs/4.png", alt="blog")
                        h4 Subhajit Roy 
                    
                    div.title.blog4
                        h3 510 GW RE BY 2030: Where Does India Stand
                        p #[span(class="material-icons") today] 
                            span September 5, 2020

                div.content        
                    div.para
                        p According to MD of ECE India Energies Pvt Ltd "Solar manufacturer are ready to deal with the challenges for producing high quality module as per global standard to meet target. government policies and taxation are major hurdles in RE development. also dependencies on other countries for basic raw materials also one of the viscous factor in RE development".

                        p According to Manoj Gupta (VP-Solar & waste to energy business,Forum India) "Looking at in installation trends, there may be some shortfall in achieving 175 GW by 2022 but long term focus should be cleare".

                        p According to Shivanand Nimbargi ( MD & CEO Ayana Renewable) "The target of 510 GW RE by 2030 is an aggressive target but it is achievable and it will dramaticaly change India's energy scenario".

                        p According to Ravindra Prabhudesai ( Director Pitambari product Pvt Ltd) " We need smooth and easy government policies and approach of official also we need fast and smooth approval from authorities".


            div.card.card5
                div.head
                    div.image-sec
                        div.image
                            img(src="../public/img/blogs/5.jpg", alt="blog")
                        h4 S. Ashok 
                    
                    div.title.blog5
                        h3 Solar Energy: Need of today's world
                        p #[span(class="material-icons") today] 
                            span September 4, 2020

                div.content        
                    div.para
                        p #[span Solar energy], radiation from the Sun capable of producing heat, causing chemical reaction, or generating electricity. The total amount of solar energy incident on Earth is vastly in excess of the world’s current and anticipated energy requirements. If suitably harnessed, this highly diffused source has the potential to satisfy all future energy needs. In the 21st century solar energy is expected to become increasingly attractive as a renewable energy source because of its inexhaustible supply and its nonpolluting character, in stark contrast to the finite fossil fuels coal, petroleum, and natural gas. 

                        p The Sun is an extremely powerful energy source, and sunlight is by far the largest source of energy received by Earth, but its intensity at Earth’s surface is actually quite low. This is essentially because of the enormous radial spreading of radiation from the distant Sun. A relatively minor additional loss is due to Earth’s atmosphere and clouds, which absorb or scatter as much as 54 percent of the incoming sunlight. The sunlight that reaches the ground consists of nearly 50 percent visible light, 45 percent infrared radiation, and smaller amounts of ultraviolet and other forms of electromagnetic radiation.

                        p The potential for solar energy is enormous, since about 200,000 times the world’s total daily electric-generating capacity is received by Earth every day in the form of solar energy. Unfortunately, though solar energy itself is free, the high cost of its collection, conversion, and storage still limits its exploitation in many places. Solar radiation can be converted either into thermal energy (heat) or into electrical energy, though the former is easier to accomplish.


            div.card.card6
                div.head
                    div.image-sec
                        div.image
                            img(src="../public/img/blogs/6.jpg", alt="blog")
                        h4 Anand Gupta 
                    
                    div.title.blog6
                        h3 Chhattisgarh amends the RPO regulation for captive generating plant
                        p #[span(class="material-icons") today] 
                            span September 3, 2020

                div.content        
                    div.para
                        p Chhattisgarh State Electricity Regulatory Commission (CSERC), in a recent announcement, amends the RPO target for Captive generating plants(CGPs) under CSERC(Renewable Purchase Obligation and REC Framework Implementation) (First Amendment) Regulations, 2020.

                        p Key points of the regulation are as follows:

                        ul
                            li For Captive users, consuming electricity from captive generating plants (CGP), commissioned before 1st April 2016, shall have RPO target applicable for FY 2015-16, which is 1% solar and 6.25% non-solar.
                            li CGPs commissioned after lst April 2016 onward, the RPO levels as specified in these Regulations or MoP trajectory, whichever is higher, for the year of commissioning of the CGPs shall be applicable.
                            li In case of any augmentation in the capacity of the CGPs, the RPO for augmented capacity shall be the RPO applicable as specified in these Regulations for the year in which the CGPs have been augmented.
                            li These Regulations shall come into force from the date of notification in the CG Rajpatra.

                        p It is important to note that CSERC under the Electricity Act, 2003 made CSERC (Renewable Purchase Obligation and REC framework Implementation) Regulations, 2016. These regulations were applicable from 1st April ,2016. In these regulations, obligated entities and minimum quantum of electricity to be procured by obligated entities as a percentage of total consumption for five years starting 2016-17 were stated.


            div.card.card7
                div.head
                    div.image-sec
                        div.image
                            img(src="../public/img/blogs/7.jpg", alt="blog")
                        h4 www.eqmagpro.com 
                    
                    div.title.blog7
                        h3 India installed 7.3 GW of solar power in 2019: Report
                        p #[span(class="material-icons") today] 
                            span May 1, 2020

                div.content        
                    div.para
                        p #[span The report added that the country also had a robust pipeline of utility-scale under-development projects of 23.7 GW capacity by the end of CY19, with 31.5 GW capacity tenders pending under auctions.]

                        p New Delhi: India installed 7.3 gigawatt (GW) of solar power across the country in 2019 (CY19), consolidating its position as the third-largest solar market in the world, according to a recent study.

                        p The report added that the country also had a robust pipeline of utility-scale under-development projects of 23.7 GW capacity by the end of CY19, with 31.5 GW capacity tenders pending under auctions.

                        p “The solar market leaders have changed in almost every category compared with last year. With a tough year ahead, we expect strong, resilient, and innovative companies continue to do well,” said Raj Prabhu, CEO of Mercom Capital Group.

                        p According to the study by Mercom Communications India, the top 10 large-scale project developers accounted for 68 per cent market share in 2019. While ReNew Power was the top utility-scale developer during CY19, Azure Power, on the other hand, owned the largest project pipeline.

                        p It added that there were 29 large-scale solar developers with a project pipeline of 100 megawatt (MW) or more in India.

                        p “Large-scale solar installations in 2019 accounted for 85 per cent with 6.2 GW. While solar accounted for 41 per cent of new power capacity additions in 2019 behind coal which accounted for 44 per cent,” the study said.

                        p Mahindra Susten was the top EPC player for utility-scale solar installations in 2019, followed by L&T. The study, however, added that the firms offering EPC services saw a lot of projects moved to 2020 due to delays caused by general elections, land, and evacuation issues.

                        p “Tata Power Solar had the largest cumulative rooftop portfolio, followed by CleanMax Solar. At the end of 2019, the top 10 rooftop solar installers represented 34 per cent of the total rooftop solar market share. In 2019, the rooftop solar market growth came down by 33 per cent compared to CY18,” the study added.

                        p According to the study, in CY2019, Trina Solar was the leading module supplier to India in terms of cumulative shipments, while Waaree Energies, Adani, and Risen Energy held the top spot. The top 10 module suppliers accounted for over 62 per cent of the market in 2019.

                        p It added that Rays Power Experts and CleanMax Solar were the top open access developers as of December 2019.

                        p Source: #[a(href="https://energy.economictimes.indiatimes.com/" target="_blank") energy.economictimes.indiatimes]



            div.card.card8
                div.head
                    div.image-sec
                        div.image
                            img(src="../public/img/blogs/8.jpg", alt="blog")
                        h4 www.eqmagpro.com 
                    
                    div.title.blog8
                        h3 MNRE Grants Extension for RE Projects considering disruption on account of lockdown due to COVID-19
                        p #[span(class="material-icons") today] 
                            span April 22, 2020

                div.content        
                    div.para
                        p MNRE Grants Extension for RE Projects considering disruption on account of lockdown due to COVID-19 for a period of 30 Days beyond lockdown;

                        p Lockdown due to COVID-19 to be treated as Force Majeure

                        p Ministry of New and Renewable Energy (MNRE) has said that the Renewable Energy implementing agencies may grant extension of time for RE projects, on account of lockdown due to COVID-19, equivalent to the period of lockdown and additional 30 (thirty) days for normalisation after end of such lockdown. In an order issued on 17-4-2020, the Ministry noted that, thus, the extension will be for the period of lockdown plus 30 (thirty) days. This will be a blanket extension – there will be no requirement of case to case examination. There will be no need to ask for any evidence for extension due to lockdown.

                        p The Ministry has also said that all Renewable Energy implementing agencies of the Ministry of New & Renewable Energy (MNRE) will treat lockdown due to COVID-19, as Force Majeure .

                        p Referring to the Renewable Energy Departments (including agencies under Power/ Energy Departments of States, but dealing in renewable energy), the Ministry has asked them that they may also treat lockdown due to COVID-19, as Force Majeure and may consider granting appropriate time extension on account of such lockdown.

                        p The decision was taken after, RE developers represented to the Ministry that they may be granted a general time extension on account of lock down (due to COVID-19) and additional time required for normalization after such lockdown.

                        p MNRE had, earlier on 20.03.2020, issued directions to SECI, NTPC and Addl. Chief Secretaries / Pr. Secretaries / Secretaries of Power / Energy / Renewable Energy (RE) Departments of State Governments/ UT Govts./ Administrations, to treat delay on account of disruption of the supply chains due to spread of coronavirus in China or any other country, as Force Majeure and that they may grant suitable extension of time for projects, on account of coronavirus, based on evidences / documents produced by developers in support of their respective claims of such disruption of the supply chains due to spread of coronavirus in China or any other country.


            div.card.card9
                div.head
                    div.image-sec
                        div.image
                            img(src="../public/img/blogs/9.jpg", alt="blog")
                        h4 www.eqmagpro.com 
                    
                    div.title.blog9
                        h3 Power Ministry floats draft Electricity Act; invites suggestions within 21 days
                        p #[span(class="material-icons") today] 
                            span April 21, 2020

                div.content        
                    div.para
                        p Supply of quality power at affordable prices is essential for sustained growth of the economy of the country.   For further development of the power sector, Ministry of Power has issued draft proposal for amendment of Electricity Act, 2003 in the form of draft Electricity Act (Amendment) Bill, 2020 for comments / suggestions from Stakeholders on 17th April 2020. Comments / observations / suggestions have been invited from stakeholders within twenty one days.

                        p Major amendments proposed in the Electricity Act are as follows.

                        p #[span Viability of Electricity Distribution companies (Discoms)]

                        ul
                            li Cost reflective Tariff: To eliminate the tendency of some Commissions to provide for regulatory assets, it is being provided that the Commissions shall determine tariffs that are reflective of cost so as to enable Discoms to recover their costs.
                            li Direct Benefit Transfer: It is proposed that tariff be determined by Commissions without taking into account the subsidy, which will be given directly by the government to the consumers.
                        
                        p #[span Sanctity of Contracts]

                        ul
                            li Establishment of Electricity Contract Enforcement Authority: A Central Enforcement Authority headed by a retired Judge of the High Court is proposed to be set-up with powers of the Civil Court to enforce performance of contracts related to purchase or sale or transmission of power between a generating, distribution or transmission companies.
                            li Establishment of adequate Payment Security Mechanism for scheduling of electricity – It is proposed to empower Load Dispatch Centres to oversee the establishment of adequate payment security mechanism before scheduling dispatch of electricity, as per contracts.

                        p #[span Strengthening the regulatory regime]

                        ul
                            li Strengthening of the Appellate Tribunal (APTEL): It is proposed to increase the strength of APTEL to seven apart from the Chairperson so that multiple benches can be set-up to facilitate quick disposal of cases. It is also proposed to further empower the APTEL to enforce its decisions.
                            li Doing away with multiple Selection Committees: It is proposed to have one Selection Committee for selection of Chairpersons and Members of the Central and State Commissions and uniform qualifications for appointments of Chairperson and Members of Central and State Electricity Regulatory Commissions.
                            li Penalties: In order to ensure compliance of the provisions of the Electricity Act and orders of the Commission, section 142 and section 146 of the Electricity Act are proposed to be amended to provide for higher penalties.

                        p #[span Renewable and Hydro Energy]

                        ul
                            li National Renewable Energy Policy: It is proposed to provide for a policy document for the development and promotion of generation of electricity from renewable sources of energy.
                            li It is also proposed that a minimum percentage of purchase of electricity from hydro sources of energy is to be specified by the Commissions.
                            li Penalties: It is being further proposed to levy penalties for non-fulfilment of obligation to buy electricity from renewable and/or hydro sources of energy.

                        p #[span Miscellaneous]

                        ul 
                            li Cross border trade in Electricity: Provisions have been added to facilitate and develop trade in electricity with other countries.
                            li FranchiseesandDistribution sub licensees: Many States Distribution Companies have been assigning the task of distribution of electricity in a particular area or city to Franchisees / Sub-Distribution Licensees. However, there was a lack of clarity regarding the legal provisions related to this. It is proposed to provide that the Distribution Companies, if they so desire, may engage Franchisees or Sub-Distribution Licensees to distribute electricity on its behalf in a particular area within its area of supply, however, it will be the DISCOM which shall be the licensee, and therefore, ultimately responsible for ensuring quality distribution of electricity in its area of supply.


            div.card.card10
                div.head
                    div.image-sec
                        div.image
                            img(src="../public/img/blogs/10.jpg", alt="blog")
                        h4 www.eqmagpro.com 
                    
                    div.title.blog10
                        h3 MNRE gives major push towards setting up RE Equipment Manufacturing Parks in India

                        p #[span(class="material-icons") today] 
                            span April 21, 2020

                div.content        
                    div.para
                        p Tuticorin Port Trust, Govts of M P and Odissa express keen interest Ministry initiates moves to attract investments by Firms shifting base from China Major Policy Changes brought in to incentivise the RE equipment manufacturing for domestic use and exports

                        p The Ministry of New and Renewable Energy(MNRE) has initiated action in big way towards setting up new hubs for manufacturing renewable energy equipments in the country to meet both domestic and also cater to global demand. With this objective in view, Ministry has written to various State Governments and various Port Authorities to identify land parcels of 50-500 acres for setting up such Parks. Tuticorin Port Trust, States of Madhya Pradesh and Odisha have already expressed their keen interest in setting up RE Manufacturing Parks.

                        p Secretary, MNRE Shri Anand Kumar has already held meetings with RE manufacturing companies last week. Ministry has also got in touch with Trade Commissioners / Representatives of various countries inviting them to invest in this promising opportunity in India. Further Secretary, MNRE addressed the US India Strategic Partnership Forum earlier this week through Webinar and sought collaboration and investment by US Firms.

                        p These facilities will manufacture equipments like silicon ingots & wafers, solar cells & modules, wind equipments and anciliary items like back sheet, glass, steel frames, inverters, batteries etc. The hubs will also export equipments and services in the RE sector. At present around 10 GW of Wind equipment manufacturing capacity. In case of Solar Cells snd Modules India imports about 85 % from abroad. The Government of India has already levied Basic Customs Duty for protecting solar manufacturing industry in India.

                        p It may be stated that in a time when many companies are shifting their manufacturing firms from China, it is time for India to bring Policy changes for facilitating manufacturing in India. In tune with this, MNRE has already set up RE Industry Facilitation & Promotion Board to facilitate investment in the sector. The Ministry has strengthened the clauses in Power Purchase Agreements(PPAs) to boost investor confidence. The three Power and RE Sector NBFCs namely PFC, REC and IREDA has reduced their repayment charges to 2% for enhancing the funds available for new projects in the sector. More over, IREDA has brought out a new Scheme for project specific funding to promote new RE projects in India.


            div.card.card11
                div.head
                    div.image-sec
                        div.image
                            img(src="../public/img/blogs/11.jpg", alt="blog")
                        h4 www.eqmagpro.com 
                    
                    div.title.blog11
                        h3 COVID-19: MNRE to promote local manufacturing, export hubs for renewable energy

                        p #[span(class="material-icons") today] 
                            span April 16, 2020

                div.content        
                    div.para
                        p #[span “All states and ports are requested to identify land parcels of 50-500 acres for setting up renewable energy manufacturing and export services hub,” said Anand Kumar, secretary, MNRE, in a twitter post recently.]
                        p #[span New Delhi:] In a bid to minimise the impact of COVID-19 pandemic on the heavily import-dependent domestic solar industry, the Ministry of New and Renewable Energy (MNRE) has asked state and port authorities to identify land sites suitable for renewable energy manufacturing and export services hubs.

                        p In an earlier tweet, Kumar had said that the ministry would provide full support to companies planning to expand or set-up bases in India for manufacturing and export of services in the renewable energy sector.

                        p Many solar industry executives have been saying that the pandemic and its resultant lockdown will impact their business operations in the future. Hence, this step comes as a relief as far as local manufacturing of renewables is concerned.

                        p The ministry has also extended the deadline for the approved list of models and manufacturers by six months to provide some relief to renewable energy firms that are under stress due to the COVID-19 crisis. The earlier deadline was March 31.

                        p The Economic Times in a report last week had said that the government has no plans to slash its target of achieving 175 gigawatt of renewable energy capacity in the country by 2022 in the wake of the virus outbreak and the nationwide lockdown.

                        p Source: #[a(href="https://energy.economictimes.indiatimes.com/" target="_blank") energy.economictimes.indiatimes]



            div.card.card12
                div.head
                    div.image-sec
                        div.image
                            img(src="../public/img/blogs/12.jpg", alt="blog")
                        h4 www.eqmagpro.com 
                    
                    div.title.blog12
                        h3 Tariff cut likely for regulated power companies

                        p #[span(class="material-icons") today] 
                            span April 15, 2020

                div.content        
                    div.para
                        p #[span A senior government official said the issue was raised by power secretaries of various states during their interaction with Union power and renewable energy minister RK Singh last Thursday.]
                        p #[span NEW DELHI:] Regulated power plants may have to take a tariff haircut on return on equity and fixed costs, as the government is considering a demand from electricity distribution companies to lower costs amid the Covid-19 pandemic. Many distribution companies have declared force majeure, denying or deferring fixed charges for power not being used during the lockdown period.

                        p The move, however, will meet with resistance from power producers. While most regulated power plants whose tariff is fixed by regulatory commissions are with NTPC Ltd, the entire hydro and gas-based generation capacity and some private thermal projects also fall in the category.

                        p A senior government official said the issue was raised by power secretaries of various states during their interaction with Union power and renewable energy minister RK Singh last Thursday. The Centre is working on a loan package for distribution companies to ease liquidity in the sector and the fixed costs – return on equity (RoE) revision may form part of the scheme.

                        p “We are now examining if it is possible to waive or reduce the fixed costs of regulated projects set up under section 62 of the Electricity Act. The legalities are being worked out,” said the official, who did not wish to be identified. “Everybody is suffering losses, so the argument is: why should the power plants be given that rate of return on equity which comes in normal times?”

                        p The Central Electricity Regulatory Commission (CERC) had, on March 7 last year, notified regulations for cost-plusbased tariff determination for April 2019-March 2024 (FY20-24) and fixed the RoE at 15.5%, along with increase in operating and maintenance cost for coal-based power projects by 8-10%.

                        p Source: #[a(href="https://energy.economictimes.indiatimes.com/" target="_blank") energy.economictimes.indiatimes]

                        p Power companies said there are no rules which mention reduction of fixed costs or RoE and that legal aspects of such proposals should be well considered.







            div.card.card13
                div.head
                    div.image-sec
                        div.image
                            img(src="../public/img/blogs/12.jpg", alt="blog")
                        h4 info@eceindia.com 
                    
                    div.title.blog13
                        h3 Solar panels produce renewable energy for your home

                        p #[span(class="material-icons") today] 
                            span April 15, 2020

                div.content        
                    div.para
                        //- p #[span A senior government official said the issue was raised by power secretaries of various states during their interaction with Union power and renewable energy minister RK Singh last Thursday.]
                        //- p #[span NEW DELHI:] Regulated power plants may have to take a tariff haircut on return on equity and fixed costs, as the government is considering a demand from electricity distribution companies to lower costs amid the Covid-19 pandemic. Many distribution companies have declared force majeure, denying or deferring fixed charges for power not being used during the lockdown period.

                        //- p The move, however, will meet with resistance from power producers. While most regulated power plants whose tariff is fixed by regulatory commissions are with NTPC Ltd, the entire hydro and gas-based generation capacity and some private thermal projects also fall in the category.

                        //- p A senior government official said the issue was raised by power secretaries of various states during their interaction with Union power and renewable energy minister RK Singh last Thursday. The Centre is working on a loan package for distribution companies to ease liquidity in the sector and the fixed costs – return on equity (RoE) revision may form part of the scheme.

                        //- p “We are now examining if it is possible to waive or reduce the fixed costs of regulated projects set up under section 62 of the Electricity Act. The legalities are being worked out,” said the official, who did not wish to be identified. “Everybody is suffering losses, so the argument is: why should the power plants be given that rate of return on equity which comes in normal times?”

                        //- p The Central Electricity Regulatory Commission (CERC) had, on March 7 last year, notified regulations for cost-plusbased tariff determination for April 2019-March 2024 (FY20-24) and fixed the RoE at 15.5%, along with increase in operating and maintenance cost for coal-based power projects by 8-10%.

                        //- p Source: #[a(href="https://energy.economictimes.indiatimes.com/" target="_blank") energy.economictimes.indiatimes]

                        //- p Power companies said there are no rules which mention reduction of fixed costs or RoE and that legal aspects of such proposals should be well considered.
                        p Solar panels use the sun’s energy to generate usable electricity. It makes sense to harness the sun’s unlimited power. As solar technology continues to advance, more and more homeowners are taking advantage of this power and installing solar panels. At a high level, solar cells interact with incoming light to generate an electrical current through the “photovoltaic effect”. In this article, we’ll break down exactly how solar panels produce renewable energy for your home.
                        p #[span How do solar panels generate electricity for your home/Industry?]
                        p In a nutshell, a solar panel works by generating electricity when particles of sunlight, or photons, knock electrons free from atoms, setting them in motion. This flow of electrons is electricity, and solar panels are designed to capture this flow, turning it into a usable electric current. This process is called the photovoltaic effect, and is the foundational chemical and physical process behind the vast majority of solar technology.
                        p Generating an electric current is the first step of a solar panel working, but the process doesn’t end there. Here’s how solar panels systems generate usable electricity for your home/industry:
                        p #[span 1. Photovoltaic cells absorb the sun’s energy and convert it to DC electricity]  As explained above, the solar cells that make up each solar panel do the heavy lifting when it comes to actually generating electricity. Through the photovoltaic effect, your solar panels produce an electrical current.
                        p #[span 2. Solar inverters convert DC electricity from your solar modules to AC electricity, which is used by most home appliances] DC electricity is converted to AC electricity when it passes through your solar inverter. Inverters can also be equipped with transformers that regulate the voltage of DC and AC currents. 
                        p #[span 3. Electricity flows through your home, powering electronic devices]  Solar inverters transfer the converted AC energy to your home’s electric box. From there, electricity is dispersed through your house to all of your outlets, so that when your devices need to be plugged in, there is a usable electric current available.
                        p #[span 4. Excess electricity produced by solar panels is fed to the electric grid] If you have a grid-tied solar system, electricity can run both to and from the power grid, and excess energy produced by your panels can actually make you money. Through a policy known as net metering, you receive credits from the power grid when you send electricity back to it, which makes your overall cost of electricity even cheaper. 
                        p If you have a grid-tied solar system, electricity can run both to and from the power grid, and excess energy produced by your panels can actually make you money. Through a policy known as net metering, you receive credits from the power grid when you send electricity back to it, which makes your overall cost of electricity even cheaper. 
                        p ECE Energies, Central India's Solar Panel Manufacturer is the premier name in quality roofing services. Call us today at 0721-2529022 or  Email: info@eceindia.com for more information about our products and services.










            div.card.card14
                div.head
                    div.image-sec
                        div.image
                            img(src="../public/img/blogs/12.jpg", alt="blog")
                        h4 info@eceindia.com
                    
                    div.title.blog14
                        h3 We have all heard about solar rooftops at some point but do you know what exactly it is? If not, let's find out today!

                        p #[span(class="material-icons") today] 
                            span April 15, 2020

                div.content        
                    div.para
                        //- p #[span A senior government official said the issue was raised by power secretaries of various states during their interaction with Union power and renewable energy minister RK Singh last Thursday.]
                        //- p #[span NEW DELHI:] Regulated power plants may have to take a tariff haircut on return on equity and fixed costs, as the government is considering a demand from electricity distribution companies to lower costs amid the Covid-19 pandemic. Many distribution companies have declared force majeure, denying or deferring fixed charges for power not being used during the lockdown period.

                        //- p The move, however, will meet with resistance from power producers. While most regulated power plants whose tariff is fixed by regulatory commissions are with NTPC Ltd, the entire hydro and gas-based generation capacity and some private thermal projects also fall in the category.

                        //- p A senior government official said the issue was raised by power secretaries of various states during their interaction with Union power and renewable energy minister RK Singh last Thursday. The Centre is working on a loan package for distribution companies to ease liquidity in the sector and the fixed costs – return on equity (RoE) revision may form part of the scheme.

                        //- p “We are now examining if it is possible to waive or reduce the fixed costs of regulated projects set up under section 62 of the Electricity Act. The legalities are being worked out,” said the official, who did not wish to be identified. “Everybody is suffering losses, so the argument is: why should the power plants be given that rate of return on equity which comes in normal times?”

                        //- p The Central Electricity Regulatory Commission (CERC) had, on March 7 last year, notified regulations for cost-plusbased tariff determination for April 2019-March 2024 (FY20-24) and fixed the RoE at 15.5%, along with increase in operating and maintenance cost for coal-based power projects by 8-10%.

                        //- p Source: #[a(href="https://energy.economictimes.indiatimes.com/" target="_blank") energy.economictimes.indiatimes]

                        //- p Power companies said there are no rules which mention reduction of fixed costs or RoE and that legal aspects of such proposals should be well considered.
                        

                        p Solar rooftops are solar systems that are installed on the rooftop of buildings to generate electricity from the sun's rays. These solar systems are designed and built using various components such as solar PV panels(modules), inverters, batteries, mounting structures, cables, fuses, etc. Since the solar panels are installed on rooftops of buildings they are commonly referred to as solar rooftop or rooftop solar. 
                        p Solar rooftop systems are one of the most popular green initiatives that are being adopted by Indian households today. Most cities in India receive abundant sunlight during the daytime. A solar rooftop system converts the sun's energy into electrical power. This is done by installing a solar inverter, which converts the DC power generated by the rooftop solar panels to AC power, which is needed by most appliances and devices.
                        p When you install a rooftop solar system on your home or office, you enable your building to generate its own electricity. This reduces your dependency on grid electricity and can save you up to 80% on monthly electricity bills.
                        p #[span Types of Solar Rooftop System]
                        p Currently, there are three types of Rooftop Solar systems - 

                        p 1. On-grid Solar Rooftop Systems
                        p 2. Off-grid Solar Rooftop Systems
                        p 3. Hybrid Solar Systems
                        p #[span On-grid Solar Rooftop Systems]
                        p On-grid Solar Systems are systems that are connected to the local electricity grid that supplies electricity to the building. In this system, the electricity produced by the solar system is consumed first to fulfill the power demands of the building, and then any residual electricity is fed into the grid with the help of net metering. These systems are relatively cheaper as they don’t need batteries to store power.
                        p #[span Off-grid Solar Rooftop Systems]
                        p Off-grid Solar Systems are ones that are not connected to the electricity grid. These are ideally installed in areas that don’t have grid supply. These solar systems have battery banks installed with them to store the energy generated by the solar system.
                        p #[span Hybrid Solar Systems] 
                        p Hybrid Solar Systems are an amalgamation of both on-grid and off-grid solar systems, which means they are both connected to the grid and also have a battery attached to them. These systems are a bit costlier than on-grid and off-grid solar systems but they provide benefits of both.
                        p #[span Advantages of installing a Rooftop Solar Power System]
                        p #[span Offers cost savings:  ] The rooftop solar model is extremely cost-effective when compared with industrial and commercial electricity.  This model is not only cost-effective in terms of tariff rates but can also be more consistent in the long run.
                        p #[span No new space is required to install: ]  On the rooftop, the solar panel installations are done by utilizing the existing space available on the roof of a building, which minimizes the need to invest in buying additional land. Also, the panels offer protection to the roof of the building or industrial shed where they are installed.
                        p #[span Low maintenance: ] The rooftop solar model requires very low annual maintenance and recurring costs, as it does not require any moving parts. The system only requires annual maintenance of modules and replacement of batteries every 3-5 years in the case of off-grid systems.
                        p #[span Green source of energy: ] The solar rooftop model poses very few pollution risks to the environment when compared to conventional sources of energy. They do not use any kind of fuel that emits harmful gasses to generate electricity nor produce any noise. Thus, adapting to the rooftop solar model reduces carbon footprints and contributes to the preservation of the environment.
                        p #[span Provides electricity in remote areas: ] : There are still many areas in India where proper access to electricity is not available. In such areas, this model serves as the most affordable and reliable source of electricity as they are cost-effective and also safer when compared to other alternatives such as diesel generators
                        p #[span Increase in Home value: ] Solar panel owners are seeing an increase in their property values over comparative homes in their neighborhood, not just this, but as per a recent study, a solar energy system will help sell your home 20% faster than residences without solar panels. 
                        p To install a Rooftop Solar System, Contact us today at (phone number)

            div.card.card15
                div.head
                    div.image-sec
                        div.image
                            img(src="../public/img/blogs/12.jpg", alt="blog")
                        h4 info@eceindia.com 
                    
                    div.title.blog15
                        h3 It’s really kind of cool to put solar panels on your roof

                        p #[span(class="material-icons") today] 
                            span April 15, 2020

                div.content        
                    div.para
                        //- p #[span A senior government official said the issue was raised by power secretaries of various states during their interaction with Union power and renewable energy minister RK Singh last Thursday.]
                        //- p #[span NEW DELHI:] Regulated power plants may have to take a tariff haircut on return on equity and fixed costs, as the government is considering a demand from electricity distribution companies to lower costs amid the Covid-19 pandemic. Many distribution companies have declared force majeure, denying or deferring fixed charges for power not being used during the lockdown period.

                        //- p The move, however, will meet with resistance from power producers. While most regulated power plants whose tariff is fixed by regulatory commissions are with NTPC Ltd, the entire hydro and gas-based generation capacity and some private thermal projects also fall in the category.

                        //- p A senior government official said the issue was raised by power secretaries of various states during their interaction with Union power and renewable energy minister RK Singh last Thursday. The Centre is working on a loan package for distribution companies to ease liquidity in the sector and the fixed costs – return on equity (RoE) revision may form part of the scheme.

                        //- p “We are now examining if it is possible to waive or reduce the fixed costs of regulated projects set up under section 62 of the Electricity Act. The legalities are being worked out,” said the official, who did not wish to be identified. “Everybody is suffering losses, so the argument is: why should the power plants be given that rate of return on equity which comes in normal times?”

                        //- p The Central Electricity Regulatory Commission (CERC) had, on March 7 last year, notified regulations for cost-plusbased tariff determination for April 2019-March 2024 (FY20-24) and fixed the RoE at 15.5%, along with increase in operating and maintenance cost for coal-based power projects by 8-10%.

                        //- p Source: #[a(href="https://energy.economictimes.indiatimes.com/" target="_blank") energy.economictimes.indiatimes]

                        //- p Power companies said there are no rules which mention reduction of fixed costs or RoE and that legal aspects of such proposals should be well considered.


                        p As a homeowner, you’ve probably got a long list of improvements you would want to make to your house. If your electric bill is skyrocketing — or if you just want to do something good for the environment — you may have considered adding solar panels to that list. But do you know that solar panels can also increase the value of your home?

                        p Let’s think about it! Say you were thinking about purchasing one of two identical homes, right next to each other on the same street. The only difference is that one of them has enough rooftop solar power installed on it to completely eliminate a heavy monthly power bill. The other has an empty rooftop.
                        p That’s a big amount for a year in savings when buying the solar home instead of the other one. Not only do you save a lot on electricity every year, you’re also reducing your carbon footprint. A home with a solar energy system will always catapult your property’s value ahead of the similar homes.
                        p Solar panels are becoming the most common way to modernize your home and increase its value, Solar panel owners are seeing an increase in their property values over comparative homes in their neighborhood not just this, but as per a recent study, a solar energy system will help sell your home 20% faster than residences without solar panels. 
                        p To brief it out, Potential buyers are encouraged to purchase homes with an installed solar energy system because of:
                        p 1. The ability to replace your electric bill with a much cheaper and environment friendly
                        p 2. As a future seller, you will have huge advantages
                        p 3. You can always demand a higher asking price for your home
                        p 4. Reduce exposure time on the market listings (sell your home much faster)
                        p 5. Receive close to 100 percent of your solar panel investment upon sale of home
                        p To summarize, solar is a smart and sleek investment in today's time.
                        h4 Bonus Tip! 
                        p When it’s time to sell your solar home, it is always great to have proof of your solar installation! It should be completed by a reputable installer, that is where we come into place. ECE solar provides is the market leader and provides best in class and quality solar panels. Contact us today at 0721-2529022. 





                        




        include ./footer.pug


        script(src="../public/js/blogs.js") 