doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="icon" href="../public/img/favicon.png">
        link(rel="stylesheet", href="../public/css/career.css") 
        title Career
    body

        include ./nav.pug

        div.career-container(style="text-align:justify")
            div.cover-img
                img(src="../public/img/career.jpg", alt="Career")

                div.career
                    h2 Career

                    div.careerMsg
                        h3 Come work with us at ECE India and experience the feeling of being proud of fighting against 'CLIMATE CHANGE'.

                
            div.career-sec
                div.team
                    h2 What sets our team apart?
                    div.team-para
                        ul 
                            li Every person in ECE India is passionate about solar energy and environment.
                            li Our team works with great professionalism.
                            li We work with a diverse age group of people which hepls us to build top of the line solar products.
                            li We always stand for the people of ECE family who made us who we are today.
            

            div.open-positions
                h1 Our Open Positions
                div.card
                    div.card-text
                        h2 Senior Sales Manager
                        p #[span Job Description - ] Min Experience 7 Years and above Experience in solar field is mandatory
                        p #[span We're Looking for - ] • Proactive in Nature • Solar channel sales Experience • Should poses solar production knowhow, techno savvy • Should understand the pain of customer, good planner • Should know solar industry current affairs • Able to do site feasibility • Gender no barrier • English, Hindi and regional language speaker • Well dressing sense, ready to accept challenges • Should have vehicle and dual sim android mobile

                    div.card-img
                        img(src="../public/img/salesExecutive.jpg", alt="salesExecutive")

                div.card
                    div.card-text
                        h2 Project Manager
                        p #[span Job Description - ] • Responsible for operational level understanding of the requirement of the client/customer, Site Visits, Site feasibility & Solar Systems Design and complete execution. • Able to check site feasibility and provide the best suitable option for enhancing suitability. • Designing of arrangements of the solar panels for Rooftop & Ground Mounted & other various supported Electrical equipment’s & selection of cables for plant including layouts & schematic diagrams.
                        p #[span We're Looking for - ] • BE/B.Tech-Electrical Engg (PG/MBA) (Exp:5-6 Yrs) • Knowledge in PVSYST and AutoCAD • Knowledge in electrical design concepts • Project Management Skills

                    div.card-img
                        img(src="../public/img/projectManager.jpg", alt="projectManager")
                    
                div.card
                    div.card-text
                        h2 Project Engineer
                        p #[span Job Description - ] • Final Site Feasibility & understanding customer requirement • Visited site to, measure roof dimensions, obstacles location & performed shading analysis • Analysis of final required material , Sizing, components selection, wire and inverter sizing • Material required for installation, follow up dealing with vendors & material management for EPC • Project Execution • Project Management • Vender Development • Service Responsibility
                        p #[span We're Looking for - ] BE/B.Tech- Electrical Engg/Civil Engg ( Exp: 2-4 Yrs)

                    div.card-img
                        img(src="../public/img/projectEngineer.jpg", alt="projectEngineer")
                    
                div.card
                    div.card-text
                        h2 Account & Finance Manager
                        p #[span Job Description - ] Provide financial reports and interpret financial information to managerial staff while recommending further courses of action. • Advise on investment activities and provide strategies that the company should take • Maintain the financial health of the organization. • Analyze costs, pricing, variable contributions, sales results and the company’s actual performance compared to the business plans.
                        p #[span We're Looking for - ] MBA-Finance (Exp: 5-6 Yrs)

                    div.card-img
                        img(src="../public/img/financeManager.jpg", alt="AccountAndFinance")
                    
                div.card
                    div.card-text
                        h2 Sales Representative
                        p #[span Job Description - ] • Responsible for Territory Business • Develop and maintain relationship with EPC and solar PV integrators in their territory. • Aggressive salesperson; Go getter approach - who considers sales as an art. • Sales Target Achievement with vigorous follow-up with large list of clients.
                        p #[span We're Looking for - ] Diploma / BE / B.Tech / MBA / Marketing / Electrical (Exp: 0-2 Yrs)

                    div.card-img
                        img(src="../public/img/salesRepresentative.jpg", alt="salesRepresentative")
                    
                div.card
                    div.card-text
                        h2 Tele Callers
                        p #[span Job Description - ] • Handle complete back end activities of Project Dept. • Preparation of sales order of Projects • Preparation of Project BOM in Tally • MSEDCL Liasoning • Documentation for Liasoning of Projects • Project Dept. Filing • Co-ordinate between Project & dispatch department regarding delivery of site material • Prepare record in excel regarding status of customer sites.
                        p #[span We're Looking for - ] HSC/Degree (Exp: 0-2 Yrs)

                    div.card-img
                        img(src="../public/img/teleCallers.jpg", alt="tellCallers")
                    
                div.card
                    div.card-text
                        h2 Back Office Executive
                        p #[span Job Description - ] • Handle complete back end activities of Project Dept. • Preparation of sales order of Projects • Preparation of Project BOM in Tally • MSEDCL Liasoning • Documentation for Liasoning of Projects • Project Dept. Filing • Co-ordinate between Project & dispatch department regarding delivery of site material • Prepare record in excel regarding status of customer sites
                        p #[span We're Looking for - ] BE/B.Tech- Electrical Engg/Civil Engg ( Exp: 0-2 Yrs)

                    div.card-img
                        img(src="../public/img/officeExecutive.jpg", alt="backOfficeExecutive")
                    
        div.apply
            h2 Apply for a Position
            form#applyForm(action="/apply", method="post" enctype="multipart/form-data") 
                div.applySec
                    input(type="text" placeholder = "First Name *" required name="fName")
                    input(type="text" placeholder = "Last Name *" required name="lName")

                div.applySec
                    input(type="email" placeholder = "Email Address *" required name="emailAdd")
                    input(type="number" placeholder = "Phone Number *" required name="phoneNo")

                div.applySec
                    input(type="text" placeholder = "Total Experience *" required name="tExp")
                    input(type="text" placeholder = "Solar Module Manufacturing Experience *" required name="solarExp")

                div.applySec
                    input(type="text" placeholder = "Current Role *" required name="currentRole")
                    input(type="text" placeholder = "Preferred Role *" required name="preferredRole")

                div.applySec
                    input(type="text" placeholder = "Pincode/Zipcode *" required name="pincode")
                    input(type="text" placeholder = "City *" required name="city") 

                div.applySec
                    input(type="text" placeholder = "State *" required name="state")
                    input(type="text" placeholder = "Country *" required name="country")

                div.applySec.applySecUpload
                    input(type="file" id="resume" name="resume" accept="application/pdf" required)
                    p#applySecP #[span.resumeText Upload your latest resume (pdf) * ]
                        label(for="resume")
                            a Choose File
                
                div.applySec
                    button(onclick = "onClick()") Apply

        if bool
            div.notification
                p Your application has been submitted, we will contact you soon!
                

        include ./footer.pug

        script(src="../public/js/career.js") 