doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="icon" href="../public/img/favicon.png">
        link(rel="stylesheet", href="../public/css/commercialAbove20Kw.css") 
        title Commercial Above 20 KW
    body 

        include ./nav.pug

        div.solutions-container
            div.cover-img
                img(src="../public/img/commercial.jpg", alt="Solutions")

                div.solutions
                    h2 Solutions 

                    div.solutionsMsg
                        h3 Every second our Sun produces enough energy to sustain Earth’s needs for 500,000 years. How do we harness this power?


        



        include ./footer.pug


        script(src="../public/js/solutions.js") 