doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="icon" href="../public/img/favicon.png">
        link(rel="stylesheet", href="../public/css/commercialAbove20Kw.css") 
        title Commercial Above 20 KW
    body 

        include ./nav.pug

        div.solutions-container
            div.cover-img
                img(src="../public/img/commercial.jpg", alt="Solutions")

                div.solutions
                    h2 Solutions 

                    div.solutionsMsg
                        h3 Every second our Sun produces enough energy to sustain Earth’s needs for 500,000 years. How do we harness this power?

        include ./icons.pug

        div.commercialAbove20KW-sec
            h2 Commercial Solar Projects Above 20KW

            div.headingMsg
                p Commercial solar systems are grid-tied solar systems that are connected to the utility grid. These solar systems are also known as on-grid solar systems which consist of solar panels, a solar inverter, and other solar accessories.
                p People are frequently concerned about high electricity costs in commercial sectors. By installing a commercial rooftop on grid power plant, companies can either significantly reduce or eliminate their electricity bill up to 100% for 25 years or even more. These solar power plants are recommended for business, commercial complexes, school-college, institutes and industry with high energy consumption. 


            div.commercialBuildings
                div.commercialBuildings-text
                    h3 Solar Energy for Commercial buildings
                    hr
                    p Commercial solar panels can be used to power industrial buildings in off-grid or remote locations. ... Solar energy charges the battery so that the signs can remain illuminated even during the night. Commercial solar panels can be used for preheating ventilation air as well as water heating in offices and businesses.In a commercial solar system, solar panels absorb sunlight during the day and generate DC (direct current) electricity. This electricity then passes through a solar inverter which converts it into AC (alternative current) electricity. This AC electricity is the standard current that is used in our property/company/factory to power the connected load. In case, the commercial solar system produces more power than is being consumed, the surplus electricity will automatically be exported to the utility grid via net-metering. The government will adjust the same in your upcoming electricity bill or pay you for the same. Hence, a commercial solar system is ideal for all business owners who want to reduce their operating cost by reducing their electricity expenses.
                div.image
                    img(src="../public/img/commercialAbove20kw/img1.jpg", alt="Commercial")

            div.advantages
                h3 Advantage of using solar energy for commercial purpose-Above 20KW
                hr
                div.para
                    p When thinking about switching your commercial building to solar power, consider it an investment, not an expense. The return on investment you get from solar power often exceeds that of most other investments in terms of the money your business saves over the years.
                    p Solar panel installation costs have fallen more than 70 percent over the last decade. This means the price of adding solar panels also has fallen. The federal Solar Investment Tax Credit (ITC), state tax credits, and cash rebates all work to reduce the solar system installation cost.
                    p When you contract with a solar panel installation company such as POWERHOME SOLAR, you are boosting the local economy. Workers in the local market complete the installation. And, increased demand for solar panel installations increases the availability of high-quality, well-paying jobs. Those workers are likely to be your current and future customers.

                div.documents
                    h3 Documents Required 
                    hr

                    div.para
                        ul 
                            li Electricity Bill.
                            li Copy of House Tax Bill or Property Card or Index-2 or Rent/Lease agreement or NOC of Society in case of Flat/Multistoried apartments or BU permission.
                            li Registration Certificate or MOA or Partnership deed.
                            li Copy of Board resolution authorizing person for signing all the documents related to proposed project.
                            li Attach one additional set of Electricity bill and Application form.

              
        div.examples
            h2 Examples of Commerial Solar Panels 

            div.example-images
                div.image
                    img(src="../public/img/commercialAbove20kw/img2.jpg", alt="Commercial")
                div.image
                    img(src="../public/img/commercialAbove20kw/img3.jpg", alt="Commercial")
                div.image
                    img(src="../public/img/commercialAbove20kw/img4.jpg", alt="Commercial")
                div.image
                    img(src="../public/img/commercialAbove20kw/img5.png", alt="Commercial")


        



        include ./footer.pug


        script(src="../public/js/solutions.js") 