doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="icon" href="../public/img/favicon.png">
        link(rel="stylesheet", href="../public/css/commercialBelow20Kw.css") 
        title Commercial
    body 

        include ./nav.pug

        div.solutions-container
            div.cover-img
                img(src="../public/img/commercial.jpg", alt="Solutions")

                div.solutions
                    h2 Solutions 

                    div.solutionsMsg
                        h3 Every second our Sun produces enough energy to sustain Earth’s needs for 500,000 years. How do we harness this power?


        include ./icons.pug

        div.commercialBelow20KW-sec
            h2 Commercial Solar Projects

            div.headingMsg
                p With the increasing technology, the consumption of energy has also been increased by the industries, which resulted in the increasing electricity cost, which increases the need to use solar energy to cut down electricity cost, this is the point where the use of solar panels comes into the picture. And this is the ultimate goal of the ECE India to increase the consumption of solar energy and reduce the traditional coal energy consumption.
                p We at ECE India offer a large variety of solar panel modules which will definitely fit the energy needs of the commercial customers and will greatly reduce the cost of electricity and also will increase their productivity. 


            div.commercialBuildings
                div.commercialBuildings-text
                    h3 Solar Energy for Commercial buildings
                    hr
                    p Solar Energy is a plentiful, reliable and renewable energy source and is also the cleanest type of energy known to man since it is pollution free and contributes to the reduction of a country’s carbon emissions. Commercial buildings (offices and other business organizations) depends on electricity for most of their energy consumption needs and the consumption of power in an office building during the day time is much higher which makes them ideally suited to install solar panels and dozens of state and central tax rebate and credit opportunities are available for rooftop-solar systems for the ones interested in using solar energy in commercial buildings. Making the switch to generating power on-site from internally free source of energy – the sun can bring down the operating costs of the company for coming decades.
                div.image
                    img(src="../public/img/commercialBelow20Kw/5.jpg", alt="Commercial")

            div.advantages
                h3 Advantage of using solar energy for commercial purpose 
                hr
                div.para
                    p Solar energy for commercial buildings is a clear choice as rooftop solar power can meet up to 20% of an office building’s electricity requirements in India. If you own a commercial building another factor to consider is the value of the building itself. A building with an in-built renewable energy source will become increasingly sought after. Using solar energy for commercial buildings can itself become an income-generating activity as the excess energy can be sold back to the grid giving you great returns on your investment.

            
                div.documents
                    h3 Documents Required 
                    hr
                    
                    div.para
                        ul 
                            li Electricity Bill.
                            li Copy of House Tax Bill or Property Card or Index-2 or Rent/Lease agreement or NOC of Society in case of Flat/Multistoried apartments or BU permission.
                            li Registration Certificate or MOA or Partnership deed.
                            li Copy of Board resolution authorizing person for signing all the documents related to proposed project.
                            li Attach one additional set of Electricity bill and Application form.


        div.examples
            h2 Examples of Commerial Solar Panels 

            div.example-images
                div.image
                    img(src="../public/img/commercialBelow20Kw/1.jpg", alt="Commercial")
                div.image
                    img(src="../public/img/commercialBelow20Kw/2.jpg", alt="Commercial")
                div.image
                    img(src="../public/img/commercialBelow20Kw/3.jpeg", alt="Commercial")
                div.image
                    img(src="../public/img/commercialBelow20Kw/4.jpg", alt="Commercial")


        include ./footer.pug


        script(src="../public/js/solutions.js") 