doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="icon" href="../public/img/favicon.png">
        link(rel="stylesheet", href="../public/css/companyProfile.css") 
        title Company Profile
    body 

        include ./nav.pug

        div.aboutUs-container
            div.cover-img
                img(src="../public/img/solar5.webp", alt="About Us")

                div.aboutUs
                    h2 About Us 

                    div.aboutUsMsg
                        h3 Green and safe World 
        
        div.our-story-container
            h2 Our Story

            div.our-story
                div.our-story-para
                    p ECE (India) Energies Private Limited was established to provide fruitful services to the stakeholders through value addition with an eye for quality, clean environment, and safe life. Though the region of Vidarbha, Maharashtra, India is lacking industrial environment and employment, ECE has managed to become an employment-creator starting from a handful people in 2010. Manufacturing of Solar Energy & Road Safety based products formed the initial base of the company, which later on went on to become a multi-faceted enterprise of green and solar energy products as well as services. Solar Blinkers, Solar Water Pumps, Solar Fencing, Solar Street Lights, Road Safety systems like Traffic Signals, Traffic Controllers, Graphical Countdown Timer, etc. were the innovative products which company manufactured from the start. The new venture after successful installations of solar plants throughout the country was visualized and has come to reality with State of Art 100 MW High Efficiency Solar panel manufacturing facility at Amravati Manufacturing Unit of the company. ECE forms a solid ground with 10 MW+ satisfied customers and successful consultancy services in EPC projects given to famous big names to name a few, M/S Adani, Reliance, IRB etc. ECE and its team are committed to become a multi-billion venture serving society and nation to its fullest in coming 5 years.

                div.our-story-img
                    img(src="../public/img/ourStoryImg.jpg", alt="Our Story")


        div.qualityAndFocus
            div.qualityPolicy
                h2 Quality policy

                div.qualityPara
                    p The management of #[span(style = "font-weight : 600;") ECE INDIA ENERGIES PRIVATE LIMITED] releases following collective quality policy of the company. Every member pledges his/her allegiance to the policy.

                div.qualityPoints
                    p - Customer satisfaction
                    p - Customer always right
                    p - Unequivocal customer bond
                    p - Altruistic interaction at formal and informal levels
                    p - Continual quality and performance improvement
                    p - Working in team spirit
                    p - Strict adherence to out-sourced and in-house quality management system
                    p - Conservation of depleting resources

            div.focusArea
                h2 Focus Area

                div.focusPara
                    p ECE India specializes in distributed Solar Power Packs and Road Safety Solutions to:

                div.focusPoints
                    div.point
                        <span  class="material-icons" >factory</span>
                        h6 Industrial, Commercial, Institutional & Residential Customers
                    div.point
                        <span  class="material-icons" >calendar_view_month</span>
                        h6 Utility Scale Solar Power Plant
                    div.point
                        <span  class="material-icons" >wb_sunny</span>
                        h6 Solar Energy for Every One
                    div.point
                        <span  class="material-icons" >edit_road</span>
                        h6 Road Construction Companies & Govt Organizations
                    div.point
                        <span  class="material-icons" >park</span>
                        h6 Agricultural & Domestic water pumps

        div.training-container
            h2 Training
            div.training.training1
                div.para
                    p The company consciously carries out in-house as well as external training. Regular training sessions on technical skills as well as interpersonal skills are arranged in the company for all the employees. Company also associates with state organizations like MEDA, MCED, DIC, MITCON in delivering technical contents of the skill development courses like SURYA MITRA. The company further provides hands-on training as well as employment to trainees in these courses.

                div.trainingImg
                    img(src="../public/img/training1.jpg", alt="Training")  
                
            div.training
                div.trainingImg
                    img(src="../public/img/training2.jpg", alt="Training") 

                div.para
                    p ECE (India) aptly emphasizes on research and development. Particularly in solar PV field, there remains large scope for innovation over wide ranging aspects like solar cell technology, PV panel making process, structural arrangements, applications and operating efficiency etc. The projects being currently pursued include indigenous manufacturing of Nano-panels (in few watts), efficiency improvement by controlling panel temperature. Highly qualified persons in the company are an asset in this regard.
 


        div.ourInfrastructure
            h2 Our Infrastructure
            div.infra-sec.infra-sec1
                div.infra-sec-text
                    div.infraPara
                        p The company has its factory at: #[span(style ="font-weight : 600") Plot No. F – 27, Amravati MIDC Area, Express Highway NH – 06, Amravati – 444 607(M.S.) INDIA.]
                        | The factory premise admeasures over 22000 square feet and houses all the necessary equipment, tools and HR facilities so as to deliver best quality in manufacture with integration into following units.

                    div.infraPoints
                        div.sec
                            <span class="material-icons" >brush</span>
                            h6 In-house Design and Fabrication
                        div.sec
                            <span class="material-icons" >warehouse</span>
                            h6 Warehouse and Packaging unit
                        div.sec
                            <span class="material-icons">precision_manufacturing</span>
                            h6 Quality Control Department
                        div.sec
                            <span class="material-icons" >biotech</span >
                            h6 R & D Department

                div.infra-sec-img
                    img(src="../public/img/infra1.jfif", alt="Infrastructure")


            div.infra-sec
                div.infra-sec-img
                    img(src="../public/img/r&d.jfif", alt="R&D")
                div.infra-sec-text
                    div.infraPara
                        p Every integrated unit is equipped with technologically advanced machineries and equipment’s as required for the manufacturing and processing by specific department which has increased our production capacity to about 300 pieces per day. Owing to our world class manufactured goods in a full-fledged infrastructure and post-sale support to our customers depend the faith of our clients.




        include ./footer.pug

        script(src="../public/js/companyProfile.js") 