doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="icon" href="../public/img/favicon.png">
        link(rel="stylesheet", href="../public/css/directorsDesk.css") 
        title Director's Desk
    body 

        include ./nav.pug


        div.aboutUs-container
            div.cover-img
                img(src="../public/img/directorsDesk.jpg", alt="About Us")

                div.aboutUs
                    h2 About Us 

                    div.aboutUsMsg
                        h3 All energy is ultimately derived from the sun and harvesting it directly through solar power seems to be the best way to transition to renewable energy.


        div.directors-sec
            h2 Message from ECE family 

            div.chairmansMessage
                h3 Chairman's Message 
                hr  

                div.chairmans-sec.sec
                    div.image-sec
                        div.image
                            img(src="../public/img/chairmansMessage.jpg", alt="Chairman")
                        div.info
                            h4 Dr. V.T Ingole 
                            p Chairman, ECE INDIA Energies
                            p Sr. Member IEEE (USA)
                            p Alumnus of IIMA, NITIE-Mumbai

                    div.message
                        p ECE India Energies is privileged to be the most remarkable solar energy solutions enterprise. Over the last 10 years, the company has conveyed forward its diligence and corporate soul of working in team spirit.
                        p I believe that the potential for future development is rooted in the strength of today’s foundation. Our establishment which is laid on customer driven methodology stimulates us to deliver remarkable products to our customers. Our proficiency and experience gathered from executing Solar Plants across different regions hold us in great stead to give world class services.


            div.managingDirectorsMessage
                h3 Managing Director’s Message
                hr

                div.managingDirectors-sec.sec
                    div.message
                        p ECE India Energies was established to provide fruitful services to the stakeholders through value addition with good quality, efficiency and clean environment. ECE has become an employment generator starting from a handful of people in 2010 situated at Amravati, whilst promoting woman empowerment.
                        p We imagine a green and safe world where everyone of the society should be benefitted by the Sun’s power & help in reducing CO2 Emission and contribute to nation building.

                    div.image-sec
                        div.image
                            img(src="../public/img/managingDirector.jpg", alt="Managing Director")
                        div.info
                            h4 Mr. Amit Anant Arokar 
                            p Founder and Managing Director 
                            p ECE INDIA Energies


            div.ourTeamsMessage
                h3 Our Team
                hr

                div.team 
                    div.team-image-sec
                        div.teamImage 
                            img(src="../public/img/ourTeam1.jpg", alt="alt")
                        div.text
                            h4 Mr. Sameer Kale BUH - Commercial
                            p Conquering the commercial projects while fighting climate change.
                    
                    div.team-image-sec
                        div.teamImage 
                            img(src="../public/img/ourTeam2.jpg", alt="alt")
                        div.text
                            h4 Mr. Shrikant Tikhile BUH - Retail
                            p Unmatched expertise in understanding the customer's need.

                
                div.team 
                    div.team-image-sec
                        div.teamImage 
                            img(src="../public/img/ourTeam3.jpg", alt="alt")
                        div.text
                            h4 Mr. Aniket Tondare BUH - Distribution
                            p Consistent achiever of surreal distribution network from last decade.
                    
                    div.team-image-sec
                        div.teamImage 
                            img(src="../public/img/ourTeam4.jpg", alt="alt")
                        div.text
                            h4 Mr. Suraj Gawande Head of Operations
                            p Managing the most spontaneous department like a mother manages her house.

            
        div.grpPhoto
            div.grpImage
                img(src="../public/img/ourTeamGroupPhoto.jpg", alt="alt")
            
            div.grpText
                h1 We Choose Right Over Convenient






        include ./footer.pug

        script(src="../public/js/directorsDesk.js") 