doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="icon" href="../public/img/favicon.png">
        link(rel="stylesheet", href="../public/css/products.css") 
        
        title Products Flexible
    body 

        include ./nav.pug


        div.products-container
            div.cover-img
                img(src="../public/img/solar16.jpg", alt="Career")

                div.products
                    h2 Products > PV Module

                    div.productsMsg
                        h3 Flexible


        div.products-sec
            h2 Flexible

            



            
        include ./footer.pug


        script(src="../public/js/products.js") 