doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../public/css/footer.css")
    title Footer
  body 

    div.footer 
      div.aboutAndAddress
        div.brandLogo
          img(src="../public/img/eceLogo.png", alt="alt")

        div.about
          h2 About ECE India
          p ECE (India) Energies Private Limited was established to provide fruitful services to the stakeholders through value addition with an eye for quality, clean environment, and safe life.

        div.address
          h2 Corporate Address
          p ECE (India) Energies(P) Limited
          p  Plot No. F – 27,
          p  Amravati MIDC Area,
          p  Express Highway NH – 06,
          p  Amravati – 444 607(M.S.) INDIA
          br
          p  Email : #[a(href="mailto: info@eceindia.com") info@eceindia.com]
          br
          p  Contact No. : #[a(href="tel:07212529022") 0721-2529022]
          p  #[a(href="tel:7774092700") +91-7774092700] | #[a(href="tel:7774092701") +91-7774092701]
          br
          div.social
            a(href="https://www.facebook.com/eceindiaenergies/" target="_blank") #[img(src="../public/img/facebook.png", alt="facebook")]
            a(href="https://twitter.com/EceEnergies" target="_blank") #[img(src="../public/img/twitter.png", alt="twitter")]
            a(href="https://www.linkedin.com/company/eceindiaenergies/" target="_blank") #[img(src="../public/img/linkedin.png", alt="linkedin")]
            a(href="https://www.youtube.com/channel/UC3Mg8gehhm_TKFkdg6B1fiw" target="_blank") #[img(src="../public/img/youtube.png", alt="youtube")]

      div.line

      div.copyright
        p &copy Copyright - All Rights Reserved of ECE India - 2019