doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="icon" href="../public/img/favicon.png">
        link(rel="stylesheet", href="../public/css/products.css") 
        
        title Products Home Light Systems
    body 

        include ./nav.pug


        div.products-container
            div.cover-img
                img(src="../public/img/solar16.jpg", alt="Career")

                div.products
                    h2 Products > Solar Products

                    div.productsMsg
                        h3 Home Light Systems


        div.products-sec
            h2 Home Light Systems

             div.card
                div.image
                    img(style="object-fit:contain;" src="../public/img/homelightsystem.png", alt="Product")
                div.specs
                    h3 Home Light Components
                    ul
                        li 2 to 5 LED bulbs or Tube Lights, Fan
                        li Li-ion, LFP, Lead Acid Batteries
                        li USB Port for Mobile Charger 
                        li Long hours of backup
                        li Optimal - Remote monitoring and LCD Display

                    div.download-button
                        a(href="../public/dataSheets/homeLightSystem.pdf" download) Download Data Sheet


            



            
        include ./footer.pug


        script(src="../public/js/products.js") 