doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="icon" href="../public/img/favicon.png">
        link(rel="stylesheet", href="../public/css/icons.css") 
        title Document
    body 

        div.icons

            div.icon
                div.img-icon
                    img(src="../public/img/iconsforcommercial/1.png", alt="icon")
                div.text-icon
                    p Pre Project Planning
                    
            div.icon
                div.img-icon
                    img(src="../public/img/iconsforcommercial/2.png", alt="icon")
                div.text-icon
                    p Detailed Engineering
            div.icon
                div.img-icon
                    img(src="../public/img/iconsforcommercial/3.png", alt="icon")
                div.text-icon
                    p Procurement & Management
            div.icon
                div.img-icon
                    img(src="../public/img/iconsforcommercial/4.png", alt="icon")
                div.text-icon
                    p Manufacturing
            div.icon
                div.img-icon
                    img(src="../public/img/iconsforcommercial/5.png", alt="icon")
                div.text-icon
                    p Installation and Commissioning 
            div.icon
                div.img-icon
                    img(src="../public/img/iconsforcommercial/6.png", alt="icon")
                div.text-icon
                    p Operations Maintanence
            
