doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="icon" href="../public/img/favicon.png">
        link(rel="stylesheet", href="../public/css/icons.css") 
        title Document
    body 

        div.icons

            div.icon
                div.img-icon
                    img(src="../public/img/commercialAbove20kw/1.png", alt="icon")
                div.text-icon
                    p Government Liaisoning & <br> Project Approval
                    
            div.icon
                div.img-icon
                    img(src="../public/img/commercialAbove20kw/2.png", alt="icon")
                div.text-icon
                    p Land Acquisition
            div.icon
                div.img-icon
                    img(src="../public/img/commercialAbove20kw/3.png", alt="icon")
                div.text-icon
                    p Overall Project Direction & <br> Management
            div.icon
                div.img-icon
                    img(src="../public/img/commercialAbove20kw/4.png", alt="icon")
                div.text-icon
                    p Overall Project Execution <br> and Commisioning
            div.icon
                div.img-icon
                    img(src="../public/img/commercialAbove20kw/5.png", alt="icon")
                div.text-icon
                    p Solar Turnkey Specialist
            
