doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="icon" href="../public/img/favicon.png">
        link(rel="stylesheet", href="../public/css/icons.css") 
        title Document
    body 

        div.icons

            div.icon
                div.img-icon
                    img(src="../public/img/snap.png", alt="icon")
                div.text-icon
                    p One Stop Solution
                    
            div.icon
                div.img-icon
                    img(src="../public/img/architect.png", alt="icon")
                div.text-icon
                    p Huge Engineering Experience
            div.icon
                div.img-icon
                    img(src="../public/img/location.png", alt="icon")
                div.text-icon
                    p Plant Tracking System
            div.icon
                div.img-icon
                    img(src="../public/img/award.png", alt="icon")
                div.text-icon
                    p Quality First
