doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="icon" href="../public/img/favicon.png">
        link(rel="stylesheet", href="../public/css/industrialAbove20Kw.css") 
        title Industrial Above 20 KW
    body 

        include ./nav.pug

        div.solutions-container
            div.cover-img
                img(src="../public/img/industrial.jpg", alt="Solutions")

                div.solutions
                    h2 Solutions 

                    div.solutionsMsg
                        h3 Every second our Sun produces enough energy to sustain Earth’s needs for 500,000 years. How do we harness this power?


        div.residential-container
            h2 What is Industrial Solar Power System? 

            div.whatIsSolarRooftop
                p Industrial Solar Power Systems have gained popularity in India with major industries resorting to solar power for avoiding grid outage situations. With the provision of open access in most of the states, industrial solar power systems are increasingly used by textile, cement, paper, steel, chemical, dairy and ceramic industries to cut down their electricity expenses. Out of the total 1247 MW rooftop solar installation as of December 2016, 34% is for industrial establishments.
        
            div.howSolarRooftopWork
                div.text
                    h3 How does a  Industrial Solar System Works?
                    hr

                    div.paraHow
                        p Solar power is harnessed using Solar Photovoltaic (PV) technology that converts sunlight (Solar radiation) into electricity by using semiconductors. When the sun hits the semiconductor within the PV cell, electrons are freed and bus bars collect the running electrons which results in electric current. When we place Solar panels connected in a calculated manner in the sunlight, they start producing current and voltage in the form of Direct current (DC) but in most of the countries in the world appliances and equipment runs on Alternative current (AC) so we need to connect to all Solar panels to an Inverter which then converts DC into AC for home use.
                        

                div.img
                    img(src="../public/img/industrialAbove20kw/img1.jpg", alt="alt")

            div.planningRooftop
                h2 More About Industrial Solar Power 
                p Solar power for industries is quintessential for meeting the 100 GW solar mission of India Electricity users in India are typically classified into 3 different categories as Commercial, Industrial and Domestic consumers. A significant 44.2% of the entire electricity generated in India is used for industrial consumption, making it one of the most important sectors with respect to electricity demand. The grid tariff for industrial consumers can go as high as INR 7/unit for non-peak hours and is much more for peak usage. Pertaining to heavy usage, especially during the peak hours, electricity constitutes major variable cost for industries. Industrial solar power, therefore, is a way to reduce the peak loading of the grid and do away with high tariff rates for the peak hours.
                p Solar power for industry can either be generated from an in-house solar plant (captive model) or through an off-site solar farm. The solar power thus produced can be used for normal day-to-day operations of the plant including lighting, ventilation, and equipment power supply. There are certain industrial firms in India which are meeting close to 30% of their power requirements through solar energy. The solar power system used by industries can be equipped with a battery storage system also. The battery storage makes the solar plant even more relevant when it comes to reducing the electricity cost.
                p The in-house PV plant can be owned and operated by the industrial firm (CAPEX Model) or by a 3rd party which owns and operates the plant and sells solar power produced back to the firm (OPEX Model). It is feasible for big industries with very high load requirements to get installed captive solar power plants within their facilities. Solar developers in India are building solar parks in different states for catering to requirements from a group of small industries operating in the nearby area. Providing solar power for industries has hence become one of the highest growing segments for solar firms in India.

            div.exampleImages
                h2 Examples of Industrial Solar System

                div.images
                    div.image
                        img(src="../public/img/industrialAbove20kw/img2.jpg", alt="Industrial")
                    div.image
                        img(src="../public/img/industrialAbove20kw/img3.jpg", alt="Industrial")
                    div.image
                        img(src="../public/img/industrialAbove20kw/img4.jpg", alt="Industrial")
                    div.image
                        img(src="../public/img/industrialAbove20kw/img5.jpg", alt="Industrial")

           
        include ./footer.pug


        script(src="../public/js/solutions.js") 