doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="icon" href="../public/img/favicon.png">
        link(rel="stylesheet", href="../public/css/lisening.css") 
        title Large Projects
    body 

        include ./nav.pug

        div.solutions-container
            div.cover-img
                img(src="../public/img/lisening/lisening.jpg", alt="Solutions")

                div.solutions
                    h2 Solutions 

                    div.solutionsMsg
                        h3 Renewable energy is the way forward to collaborate with nature - it's the only way we are going to get to the other end of the 21st century.


        //- include ./icons.pug


        div.lisening
            h2 Liasoning

            //- p No data Available

        img(src="../public/img/lisening/MSEB Liason Process.png", alt="Solutions" style="display: block; margin-left: auto; margin-right: auto;margin-bottom:20px")
        include ./footer.pug


        script(src="../public/js/solutions.js") 