doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='../public/css/nav.css')
    title nav

body 
  header#navbar.nav
      div#logo
        a(href="/") 
          img#logoImg(src="../public/img/ECE_India1.png", alt="ECE INDIA")
          
          //- p#logoText ECE INDIA

      div#menu
        ul
            li.home-nav #[a(href="/") Home]
              

            li.aboutUs-nav #[a About Us]
              div.sub-menu-1.sub-menu
                ul.aboutUsDrop 
                  li #[a(href='/aboutUs/companyProfile') Company Profile]
                  li #[a(href='/aboutUs/directorsDesk') Director's Desk]
                  li #[a(href='/aboutUs/values') Values]
            li.products-nav #[a Products]
              div.sub-menu-2.sub-menu
                ul.productsDrop 
                  li.pvModules #[a PV Modules &nbsp &nbsp &nbsp >]
                    div.sub-menu-2-1.sub-menu
                      ul.pvModulesDrop 
                        li.polyCrystaline #[a(href="/products/smallModule") Small Module]
                        li.polyCrystaline #[a(href="/products/polyModule") Poly Module]
                          
                        li.monoPerc #[a(href="/products/monoModule") Mono Module]
                          
                        li.bifacial #[a(href="/products/bifacial") Bifacial]
                          

                        li #[a(href='/products/bipv') BIPV]

                        li.dcr #[a(href="/products/dcr") DCR]
                          


                  li.solarHomeLightening #[a Solar Products &nbsp &nbsp &nbsp >]
                    div.sub-menu-2-2.sub-menu
                      ul.solarHomeLighteningDrop 
                        li #[a(href='/products/homeLightSystems') Home Light Systems]
                        li #[a(href='/products/solarCooker') Solar Cooker]
                        li #[a(href='/products/solarLantern') Solar Lantern]
                        li #[a(href='/products/solarInsectKiller') Solar Insect killer]
                        li #[a(href='/products/solarSystem') Solar On Grid/Off Grid System]

                  li.solarPumpingSystem #[a(href="/products/solarPumpingSystem") Solar Pumping System]

                  li.trafficSignal #[a Traffic Signal &nbsp &nbsp &nbsp >]
                    div.sub-menu-2-3.sub-menu
                      ul.trafficSignalDrop
                        li #[a(href='/products/solarBlinker') Solar Blinker]
                        li #[a(href='/products/solarStreetLight') Solar Street Light]
      



            li.solutions-nav #[a Solutions]
              div.sub-menu-3.sub-menu
                ul.solutionsDrop 
                  li.productBelow20Kw #[a Products Below 20 KW &nbsp &nbsp &nbsp >]
                    div.sub-menu-3-1.sub-menu
                      ul.productsBelow20KwDrop 
                        li #[a(href='/solutions/commercialBelow20Kw') Commercial Below 20 KW]
                        li #[a(href='/solutions/residentialBelow20Kw') Residential Below 20 KW]

                  li.productAbove20Kw #[a Products Above 20 KW &nbsp &nbsp &nbsp >]
                    div.sub-menu-3-2.sub-menu
                      ul.productsAbove20KwDrop 
                        li #[a(href='/solutions/commercialAbove20Kw') Commercial Above 20KW]
                        li #[a(href='/solutions/industrialAbove20Kw') Industrial Above 20 KW]

                  li.oAndM #[a Operation & Maintainance &nbsp &nbsp &nbsp >]
                    div.sub-menu-3-3.sub-menu
                      ul.oAndMDrop 
                        li #[a(href="/solutions/amc") AMC]
                          


                  li #[a(href='/solutions/solarEpc') Solar EPC]
                  li #[a(href='/solutions/largeProjects') Large Projects / Utility Projects]
                  li #[a(href='/solutions/lisening') Lisening]

            
            li.projects-nav #[a(href="/projects") Projects]



            li.downloads-nav #[a Downloads]
              div.sub-menu-4.sub-menu
                ul.downloadsDrop 
                  li #[a(href='/downloads/vendorRegistrationForm') Vendor Registration Form]
                  li #[a(href='/downloads/clientRegistrationForm') Client Registration Form]

            li.blogs-nav #[a(href="/blogs") Blogs]
            li.contactUs-nav #[a(href="/contactUs") Contact Us]
            li.news-nav #[a(href="/news") News/CSR]
            li.career-nav #[a(href="/career") Career]

            li.achievements-nav #[a Achievements]
              div.sub-menu-5.sub-menu
                ul.achievementsDrop 
                  li #[a(href='/achievements/certifications') Certifications]
                  li #[a(href='/achievements/awards') Awards]
                  li #[a(href='/achievements/patents') R&D / Patents]

            li.photoGallery-nav #[a(href="/photoGallery") Photo Gallery]

      div.hamburger
        div.hamburger-line

  div.dropdown-menu
      ul 
        li.home-drop #[p #[a(href="/").active Home]]
          

        li.aboutUs-drop #[p #[a About us] #[i.arrow.down]]
          div.aboutUs-menu.sub-menu-drop
            ul 
              li #[a(href='/aboutUs/companyProfile') Company Profile]
              li #[a(href='/aboutUs/directorsDesk') Directors Desk]
              li #[a(href='/aboutUs/values') Values]


        li.products-drop #[p #[a Products] #[i.arrow.down]]
           div.products-menu.sub-menu-drop
            ul 
              li.pvModule-drop #[p #[a PV Module] #[i.arrow.down]]
                 div.pvModule-menu.sub-menu2-drop
                  ul 
                    li.polyCrystaline-drop #[a(href="/products/smallModule") Small Module]
                    li.polyCrystaline-drop #[a(href="/products/polyModule") Poly Module] 
                    li.monoPerc-drop #[a(href="/products/monoModule") Mono Module]
                    li.bifacial-drop #[a(href="/products/bifacial") Bifacial]
                    li #[a(href="/products/bipv") BIPV]
                    li.dcr-drop #[a(href="/products/dcr") DCR]
                

              li.solarHomeLightening-drop #[p #[a(style="color:white") Solar Products] #[i(style="border-color : white").arrow.down]]
                div.solarHomeLightening-menu.sub-menu2-drop
                  ul 
                    li #[a(href="/products/homeLightSystems") Home Light System]
                    li #[a(href="/products/solarCooker") Solar Cooker]
                    li #[a(href="/products/solarLantern") Solar Lantern]
                    li #[a(href="/products/solarInsectKiller") Solar Insect Killer]
                    li #[a(href="/products/solarSystem") Solar On Grid/Off Grid System]
              
              li.solarPumpingSystem-drop #[p #[a(href="/products/solarPumpingSystem" style="color:white;") Solar Pumping System]]

              li.trafficSignal-drop #[p #[a(style="color:white; font-weight: 600") Traffic Signal] #[i(style="border-color : white").arrow.down]]
                div.trafficSignal-menu.sub-menu2-drop
                  ul 
                    li #[a(href="/products/solarBlinker") Solar Blinker]
                    li #[a(href="/products/solarStreetLight") Solar Street Light]
      

 
        li.solutions-drop #[p #[a Solutions] #[i.arrow.down]]
          div.solutions-menu.sub-menu-drop
            ul 
              li.productsBelow20Kw-drop #[p #[a Products Below 20KW] #[i.arrow.down]]
                div.productsBelow20Kw-menu.sub-menu2-drop
                  ul 
                    li #[a(href="/solutions/commercialBelow20Kw") Commercial Below 20KW]
                    li #[a(href="/solutions/residentialBelow20Kw") Residential Below 20KW]

              li.productsAbove20Kw-drop #[p #[a Products Above 20KW] #[i.arrow.down]]
                 div.productsAbove20Kw-menu.sub-menu2-drop
                  ul 
                    li #[a(href="/solutions/commercialAbove20Kw") Commercial Above 20KW]
                    li #[a(href="/solutions/industrialAbove20Kw") Industrial Above 20KW]

              li.operationAndMaintainance-drop #[p #[a Operation And Maintainance] #[i.arrow.down]]
                div.operationAndMaintainance-menu.sub-menu2-drop
                  ul 
                    li.amc-drop #[a(href="/solutions/amc") AMC]

              li #[a(href="/solutions/solarEpc") Solar EPC]
              li #[a(href="/solutions/largeProjects") Large Projects / Utility Projects]
              li #[a(href="/solutions/lisening") Lisening]

        li #[a(href='/projects') Projects]

        li.downloads-drop #[p #[a Downloads] #[i.arrow.down]]
          div.downloads-menu.sub-menu-drop
            ul 
              li #[a(href="/downloads/vendorRegistrationForm") Vendor Registration Form]
              li #[a(href="/downloads/clientRegistrationForm") Client Registration Form]

        li #[a(href='/blogs') Blogs]
        li #[a(href='/contactUs') Contact Us]
        li #[a(href='/news') News/CSR]
        li #[a(href='/career') Career]
        li.achievements-drop #[p #[a Achievements] #[i.arrow.down]]
          div.achievements-menu.sub-menu-drop
            ul 
              li #[a(href="/achievements/certifications") Certifications]
              li #[a(href="/achievements/awards") Awards]
              li #[a(href="/achievements/patents") R&D / Patents]


        li #[a(href='/photoGallery') Photo Gallery]


  script(src="../public/js/main.js") 