doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='style.css')
  <link rel="icon" href="../public/img/favicon.png">
  link(rel="stylesheet", href="../public/css/news.css") 
  title News
body 

include ./nav.pug
.flex-container
  .card
    img(src='https://static.vecteezy.com/system/resources/thumbnails/003/687/020/small/abstract-broadcast-news-lower-thirds-template-vector.jpg' alt='')
    .container
      h4.text Heading
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat alias a voluptas incidunt repudiandae inventore laboriosam et neque, provident obcaecati quisquam distinctio ipsam itaque minus fuga quaerat sunt qui impedit.
  .card
    img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1N6KD84Qc1KKU_0FUJz_-xGMIrrAOYLMZug&usqp=CAU' alt='')
    .container
      h4.text Heading
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat alias a voluptas incidunt repudiandae inventore laboriosam et neque, provident obcaecati quisquam distinctio ipsam itaque minus fuga quaerat sunt qui impedit.
  .card
    img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHE2hgHRoTosuexOicZ7Ykfeb9rBODcWWTDA&usqp=CAU' alt='')
    .container
      h4.text Heading
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat alias a voluptas incidunt repudiandae inventore laboriosam et neque, provident obcaecati quisquam distinctio ipsam itaque minus fuga quaerat sunt qui impedit.
  .card
    img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRo26By889zKlafC_sMSxLzeTWculcUJy14qA&usqp=CAU' alt='')
    .container
      h4.text Heading
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat alias a voluptas incidunt repudiandae inventore laboriosam et neque, provident obcaecati quisquam distinctio ipsam itaque minus fuga quaerat sunt qui impedit.
  .card
    img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYHisJ9iFKeOMYHexMXAETr21C8Y2jIlHsjQ&usqp=CAU' alt='')
    .container
      h4.text Heading
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat alias a voluptas incidunt repudiandae inventore laboriosam et neque, provident obcaecati quisquam distinctio ipsam itaque minus fuga quaerat sunt qui impedit.
  .card
    img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYHisJ9iFKeOMYHexMXAETr21C8Y2jIlHsjQ&usqp=CAU' alt='')
    .container
      h4.text Heading
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat alias a voluptas incidunt repudiandae inventore laboriosam et neque, provident obcaecati quisquam distinctio ipsam itaque minus fuga quaerat sunt qui impedit.
  .card
    img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuyOBl78VCAwWUl915ch6QuA0l5myyfr5EOg&usqp=CAU' alt='')
    .container
      h4.text Heading
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat alias a voluptas incidunt repudiandae inventore laboriosam et neque, provident obcaecati quisquam distinctio ipsam itaque minus fuga quaerat sunt qui impedit.

include ./footer.pug

script(src="../public/js/news.js") 