doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="icon" href="../public/img/favicon.png">
        link(rel="stylesheet", href="../public/css/career.css") 
        title Career
    body

        include ./nav.pug


        p(style="margin-top:200px;margin-bottom:150px;text-align:center;font-size:large") This page is under construction
        //- div.career-container(style="text-align:justify")
        //-     div.open-positions
        //-         h1 Our Dealers
        //-         div.card
        //-             div.card-text
        //-                 h2 Senior Sales Manager
        //-                 p #[span Job Description - ] Min Experience 7 Years and above Experience in solar field is mandatory
        //-                 p #[span We're Looking for - ] • Proactive in Nature • Solar channel sales Experience • Should poses solar production knowhow, techno savvy • Should understand the pain of customer, good planner • Should know solar industry current affairs • Able to do site feasibility • Gender no barrier • English, Hindi and regional language speaker • Well dressing sense, ready to accept challenges • Should have vehicle and dual sim android mobile

                    //- div.card-img
                    //-     img(src="../public/img/salesExecutive.jpg", alt="salesExecutive")

                //- div.card
                //-     div.card-text
                //-         h2 Project Manager
                //-         p #[span Job Description - ] • Responsible for operational level understanding of the requirement of the client/customer, Site Visits, Site feasibility & Solar Systems Design and complete execution. • Able to check site feasibility and provide the best suitable option for enhancing suitability. • Designing of arrangements of the solar panels for Rooftop & Ground Mounted & other various supported Electrical equipment’s & selection of cables for plant including layouts & schematic diagrams.
                //-         p #[span We're Looking for - ] • BE/B.Tech-Electrical Engg (PG/MBA) (Exp:5-6 Yrs) • Knowledge in PVSYST and AutoCAD • Knowledge in electrical design concepts • Project Management Skills

                    //- div.card-img
                    //-     img(src="../public/img/projectManager.jpg", alt="projectManager")
          
                    
    
                

        include ./footer.pug

        script(src="../public/js/career.js") 