doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="icon" href="../public/img/favicon.png">
        link(rel="stylesheet", href="../public/css/patents.css") 
        title R&D / Patents
    body 
        
        include ./nav.pug

        div.patents-container
            div.cover-img
                img(src="../public/img/r&d.jfif", alt="R&D")

                div.patents
                    h2 R&D / Patents 

                    div.patentsMsg
                        h3 No research without action, no action without research, we believe in innovation, that's how we grow. 

            

            div.research-sec
                h2 Research and Development

                div.para
                    p Inhouse R&D team has adopted agile and resilient approach to discover and design solutions with a divergent mindset and convergent teamwork. Below mentioned are the core pillars that drives our power house.

                div.icons
                    div.icon
                        img(src="../public/img/innovationAndCreativity.jpg", alt="icon")
                        p  Innovation & Creativity 
                    
                    div.icon
                        img(src="../public/img/designApproach.jpg", alt="icon")
                        p  Customer Centric Design Approach
                    
                    div.icon
                        img(src="../public/img/advanceTech.jpg", alt="icon")
                        p  Adavnce Tech Implementation 


            div.patents-sec
                h2 Patents

                div.sec
                    p Solar DG Micro Grid System.
                    h3 Applicant/ Inventor - Dr. V. T. Ingole

                div.sec
                    p Acknowledge Based Wireless Traffic Control Signal Sequencer.
                    h3 Applicant/ Inventor Mr. Amit Arokar, Mr. Aniket Tondare, Mr. Suraj Gawande

                div.sec
                    p Refined Light Trapping Technique using 3-Dimensional Globule Structured Solar Cell.
                    h3 Applicant/ Inventor - Mr. Suraj Gawande

                div.sec
                    p Travel Water Bottle Chiller with antibacterial effect.
                    h3 Applicant/ Inventor - Mr. Suraj Gawande

                div.sec
                    p Wireless Chess.
                    h3 Applicant/ Inventor - Mr. Aniket Tondare

                div.sec
                    p Front end Vehicular Collision Avoidance System.
                    h3 Applicant/ Inventor - Mr. Aniket Tondare




        include ./footer.pug


        script(src="../public/js/patents.js") 