doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  <link rel="icon" href="../public/img/favicon.png">
  link(rel="stylesheet", href="../public/css/photo.css") 
  title Achievements Gallery

body 

  include ./nav.pug


  div.photo-container
        div.cover-img
          img(src="../public/img/photoGallery.jpg", alt="PhotoGallery")

          div.photo
            h2 Photo Gallery

            div.photoMsg
              h3 Solar energy – Today’s resource for a brighter tomorrow!

  div.heading
    h2 Achievements


  div.backButton
    a(href="/photoGallery") Back

  .flex-container
    .gallery
      a(style='text-decoration: none')
        img(src='../public/img/achievements/1.jpg' alt='' width='100%')
    
    .gallery
      a(style='text-decoration: none')
        img(src='../public/img/achievements/2.jpg' alt='' width='100%')
        
    .gallery
      a(style='text-decoration: none')
        img(src='../public/img/achievementsThumb.jpg' alt='' width='100%')
        

  include ./footer.pug
  
  script(src="../public/js/photoGallery.js") 