doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="icon" href="../public/img/favicon.png">
        link(rel="stylesheet", href="../public/css/products.css") 
        
        title Products Poly Modules
    body 

        include ./nav.pug


        div.products-container
            div.cover-img
                img(src="../public/img/solar16.jpg", alt="Career")

                div.products
                    h2 Products > PV Module

                    div.productsMsg
                        h3 Poly Modules


        div.products-sec
            h2 Poly Modules

            div.card
                div.image
                    img(src="../public/img/products/productImg.png", alt="Product")
                div.specs
                    h3 Aditya Series : ECE 100W To 235W 
                    p •	Superior module efficiency as per international benchmarks
                    p •	Salt mist resistant
                    p •	High durability
                    p •	Excellent performance in low light

                    //- div.download-button
                    //-     a(href="../public/dataSheets/adityaPoly.pdf" download) Download Data Sheet

            div.card
                div.image
                    img(src="../public/img/products/productImg.png", alt="Product")
                div.specs
                    h3 Aadhya Series: ECE 310W To 350W
                    p •	PID resistant module ensuring long term reliability
                    p •	Anti Reflective Coating for improved light transmission
                    p •	Certified to withstand the most challenging weather
                    p •	High system voltage reduced the BOS cost more reliability
                    p •	25 Years Linear Warranty longer life


                    div.download-button
                        a(href="../public/dataSheets/aadhya.pdf" download) Download Data Sheet





        include ./footer.pug


        script(src="../public/js/products.js") 