doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="icon" href="../public/img/favicon.png">
        link(rel="stylesheet", href="../public/css/projects.css") 
        title Projects
    body 

        include ./nav.pug

        div.projects-container
            div.cover-img
                img(src="../public/img/projects.jpg", alt="Projects")

                div.projects
                    h2 Projects 

                    div.projectsMsg
                        h3 Solar power is the last energy resource that isn't owned yet - nobody taxes the sun yet.

        div.projects-sec
            div.rooftop-sec.projects-div
                h2 Rooftop Systems
                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/1.jpg", alt="")
                    div.projectText
                        h3 Hanuman Vyayam Prasarak Mandal
                        div.info
                            p #[span Capacity :] 200    
                            p #[span Generation :] 300000/Annum    
                            p #[span CO2 Reduction :] 264898 Kg/Annum 
                        div.location
                            p #[span Location :] Hanuman Vyayam Nagar, Amravati – 444605   

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/2.jpg", alt="")
                    div.projectText
                        h3 Naivedhyam Northstar
                        div.info
                            p #[span Capacity :] 147    
                            p #[span Generation :] 220500/Annum    
                            p #[span CO2 Reduction :] 107310 Kg/Annum 
                        div.location
                            p #[span Location :]  Plot 116, Village Nanda, Koradi, Maharashtra 441111   

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/3.jpg", alt="")
                    div.projectText
                        h3 Waaree I&C
                        div.info
                            p #[span Capacity :] 147    
                            p #[span Generation :] - /Annum    
                            p #[span CO2 Reduction :] - Kg/Annum 
                        div.location
                            p #[span Location :] Nagpur   

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/4.jpg", alt="")
                    div.projectText
                        h3 Empire Mall
                        div.info
                            p #[span Capacity :] 114    
                            p #[span Generation :] 171000/Annum   
                            p #[span CO2 Reduction :] 150991 Kg/Annum 
                        div.location
                            p #[span Location :] Badnera Road,Opposite Samarth School,Amravati   

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/5.jpg", alt="")
                    div.projectText
                        h3 Maharashtra Energy Developmet Agency
                        div.info
                            p #[span Capacity :] 83    
                            p #[span Generation :] -/Annum    
                            p #[span CO2 Reduction :] - Kg/Annum 
                        div.location
                            p #[span Location :] Chandrapur 

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/6.jpg", alt="")
                    div.projectText
                        h3 Ambedkar Boys Hostel
                        div.info
                            p #[span Capacity :] 80    
                            p #[span Generation :] -/Annum    
                            p #[span CO2 Reduction :] - Kg/Annum 
                        div.location
                            p #[span Location :] Yavatmal  

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/7.jpg", alt="")
                    div.projectText
                        h3 Nanda Sadi Centre
                        div.info
                            p #[span Capacity :] 75    
                            p #[span Generation :] 112500/Annum    
                            p #[span CO2 Reduction :] 99336 Kg/Annum 
                        div.location
                            p #[span Location :] City Land, Amravati

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/8.jpg", alt="")
                    div.projectText
                        h3 Dreamz Infrastructure
                        div.info
                            p #[span Capacity :] 60    
                            p #[span Generation :] 90000/Annum    
                            p #[span CO2 Reduction :] 79469 Kg/Annum 
                        div.location
                            p #[span Location :] Dreamz Land City, Nandgaon Peth, amravati  

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/9.jpg", alt="")
                    div.projectText
                        h3 Jadhav Icon
                        div.info
                            p #[span Capacity :] 55    
                            p #[span Generation :] -/Annum    
                            p #[span CO2 Reduction :] - Kg/Annum 
                        div.location
                            p #[span Location :] Amravati   

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/10.jpg", alt="")
                    div.projectText
                        h3 District Planning Office
                        div.info
                            p #[span Capacity :] 50    
                            p #[span Generation :] 60000/Annum    
                            p #[span CO2 Reduction :] 663000 Kg/Annum 
                        div.location
                            p #[span Location :] Niyojan Bhavan,Collector Office,Camp,Amravati 

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/11.jpg", alt="")
                    div.projectText
                        h3 Girls Hostel Pandhari
                        div.info
                            p #[span Capacity :] 50    
                            p #[span Generation :] -/Annum    
                            p #[span CO2 Reduction :] - Kg/Annum 
                        div.location
                            p #[span Location :] Amravati 

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/12.jpg", alt="")
                    div.projectText
                        h3 The Secretary of Indira Bahuddeshiya Edu.
                        div.info
                            p #[span Capacity :] 40    
                            p #[span Generation :] 60000/Annum    
                            p #[span CO2 Reduction :] 52979 Kg/Annum 
                        div.location
                            p #[span Location :] At-post Ghatkheda Dist Amravati  

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/13.jpg", alt="")
                    div.projectText
                        h3 Samaj Kalyan Hostel Pandhari
                        div.info
                            p #[span Capacity :] 40    
                            p #[span Generation :] 60000/Annum    
                            p #[span CO2 Reduction :] 52979 Kg/Annum 
                        div.location
                            p #[span Location :] Pandhari, Ta.Anjangaon Surji Dist. Amravati  

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/14.jpg", alt="")
                    div.projectText
                        h3 Govt.Girls Residential School
                        div.info
                            p #[span Capacity :] 40    
                            p #[span Generation :] 60000/Annum    
                            p #[span CO2 Reduction :] 52979 Kg/Annum 
                        div.location
                            p #[span Location :] Hingangaon,Tq.Dhamangaon Rly,Dist.Amravati. 

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/15.jpg", alt="")
                    div.projectText
                        h3 Police Superintendent Office
                        div.info
                            p #[span Capacity :] 40    
                            p #[span Generation :] -/Annum    
                            p #[span CO2 Reduction :] - Kg/Annum 
                        div.location
                            p #[span Location :] Wardha  

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/16.jpg", alt="")
                    div.projectText
                        h3 Zilla Parishad
                        div.info
                            p #[span Capacity :] 40    
                            p #[span Generation :] -/Annum    
                            p #[span CO2 Reduction :] - Kg/Annum 
                        div.location
                            p #[span Location :] Wardha   

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/17.jpg", alt="")
                    div.projectText
                        h3 Reforms Club
                        div.info
                            p #[span Capacity :] 36    
                            p #[span Generation :] 54000/Annum    
                            p #[span CO2 Reduction :] 47681 Kg/Annum 
                        div.location
                            p #[span Location :] C. K .Naidu Road, Camp, Amravati-444602   

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/18.jpg", alt="")
                    div.projectText
                        h3 Sikchi Resort
                        div.info
                            p #[span Capacity :] 35    
                            p #[span Generation :] 52500/Annum    
                            p #[span CO2 Reduction :] 45675 Kg/Annum 
                        div.location
                            p #[span Location :] Near Bus Stand, Amravati Road, Walgaon.

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/19.jpg", alt="")
                    div.projectText
                        h3 Tribal Development Hostels at Nagpur
                        div.info
                            p #[span Capacity :] 35    
                            p #[span Generation :] 52500/Annum    
                            p #[span CO2 Reduction :] 45675 Kg/Annum 
                        div.location
                            p #[span Location :] Nagpur   

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/20.jpg", alt="")
                    div.projectText
                        h3 Premkishor Sikchi Charitable Trust
                        div.info
                            p #[span Capacity :] 35    
                            p #[span Generation :] -/Annum    
                            p #[span CO2 Reduction :] - Kg/Annum 
                        div.location
                            p #[span Location :] Ahemedabad   

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/21.jpg", alt="")
                    div.projectText
                        h3 Shree Sant Acchyut Maharaj Heart Hospital
                        div.info
                            p #[span Capacity :] 30    
                            p #[span Generation :] 45000/Annum    
                            p #[span CO2 Reduction :] 39734 Kg/Annum 
                        div.location
                            p #[span Location :] Mardi road, Masod , Dist. Amravati.

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/22.jpg", alt="")
                    div.projectText
                        h3 Tomoae Primary School
                        div.info
                            p #[span Capacity :] 30    
                            p #[span Generation :] 45000/Annum    
                            p #[span CO2 Reduction :] 39734 Kg/Annum 
                        div.location
                            p #[span Location :] TOMOAE Primary School, SY No. 113/3, Near Kathora- 444701

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/23.jpg", alt="")
                    div.projectText
                        h3 Adarsh Hotel
                        div.info
                            p #[span Capacity :] 30    
                            p #[span Generation :] 45000/Annum    
                            p #[span CO2 Reduction :] 21900 Kg/Annum 
                        div.location
                            p #[span Location :] W.No.19, Chaudhari Chowk Amravati 444601  

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/24.jpg", alt="")
                    div.projectText
                        h3 Shri Principal Shivaji Senior Science College

                        div.info
                            p #[span Capacity :] 30    
                            p #[span Generation :] 45000/Annum    
                            p #[span CO2 Reduction :] 39734 Kg/Annum 
                        div.location
                            p #[span Location :] Morshi road, Amravati   

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/25.jpg", alt="")
                    div.projectText
                        h3 The President Sipna Shikshan Prasarak
                        div.info
                            p #[span Capacity :] 30    
                            p #[span Generation :] 45000/Annum    
                            p #[span CO2 Reduction :] 39734 Kg/Annum 
                        div.location
                            p #[span Location :] S. No. 86/2, Nimbhora Khurd,Near Sipna Engineering College 

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/26.jpg", alt="")
                    div.projectText
                        h3 Jadhav Hitech
                        div.info
                            p #[span Capacity :] 30    
                            p #[span Generation :] -/Annum    
                            p #[span CO2 Reduction :] - Kg/Annum 
                        div.location
                            p #[span Location :] Amravati   

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/27.jpg", alt="")
                    div.projectText
                        h3 Jadhav Gears

                        div.info
                            p #[span Capacity :] 30    
                            p #[span Generation :] -/Annum    
                            p #[span CO2 Reduction :] - Kg/Annum 
                        div.location
                            p #[span Location :] Amravati

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/28.jpg", alt="")
                    div.projectText
                        h3 Maharishi Public School
                        div.info
                            p #[span Capacity :] 25    
                            p #[span Generation :] 37500/Annum    
                            p #[span CO2 Reduction :] 33112 Kg/Annum 
                        div.location
                            p #[span Location :] Navsaari, Amravati, Maharashtra 444602   

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/29.jpg", alt="")
                    div.projectText
                        h3 District Sport Complex
                        div.info
                            p #[span Capacity :] 20    
                            p #[span Generation :] -/Annum    
                            p #[span CO2 Reduction :] - Kg/Annum 
                        div.location
                            p #[span Location :] Wardha  

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/30.jpg", alt="")
                    div.projectText
                        h3 Padmawati Lawns
                        div.info
                            p #[span Capacity :] 18    
                            p #[span Generation :] 27000/Annum    
                            p #[span CO2 Reduction :] 23490 Kg/Annum 
                        div.location
                            p #[span Location :] New Swastik colony, Badnera road, Amravati.  

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/31.jpg", alt="")
                    div.projectText
                        h3 Shree Sant Acchyut Maharaj Heart Hospital
                        div.info
                            p #[span Capacity :] 17    
                            p #[span Generation :] -/Annum    
                            p #[span CO2 Reduction :] - Kg/Annum 
                        div.location
                            p #[span Location :] Amravati

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/32.jpg", alt="")
                    div.projectText
                        h3 Sec. Of Ambadevi Pratistan
                        div.info
                            p #[span Capacity :] 16    
                            p #[span Generation :] -/Annum    
                            p #[span CO2 Reduction :] - Kg/Annum 
                        div.location
                            p #[span Location :] Amravati   

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/33.jpg", alt="")
                    div.projectText
                        h3 Shri. Ramchandra Pote
                        div.info
                            p #[span Capacity :] 15    
                            p #[span Generation :] 22500/Annum    
                            p #[span CO2 Reduction :] 19867 Kg/Annum 
                        div.location
                            p #[span Location :] Mangilal plot,near Deshmukh hosp. Amravati 

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/34.jpg", alt="")
                    div.projectText
                        h3 The Satyam Education Society
                        div.info
                            p #[span Capacity :] 15    
                            p #[span Generation :] 22500/Annum    
                            p #[span CO2 Reduction :] 19867 Kg/Annum 
                        div.location
                            p #[span Location :] Bhandara   

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/35.jpg", alt="")
                    div.projectText
                        h3 Balaji Marketing Group
                        div.info
                            p #[span Capacity :] 15    
                            p #[span Generation :] 22500/Annum    
                            p #[span CO2 Reduction :] 19867 Kg/Annum 
                        div.location
                            p #[span Location :] Opp.New Bus Stand,Chichordi,Bhadrawati,Chandrapur 442902  

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/36.jpg", alt="")
                    div.projectText
                        h3 Maharashtra Jivan Pradhikaran
                        div.info
                            p #[span Capacity :] 15    
                            p #[span Generation :] -/Annum    
                            p #[span CO2 Reduction :] - Kg/Annum 
                        div.location
                            p #[span Location :] Water Treatment Plant, Shahanur, Maharashtra Jivan Pradhikaran   

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/37.jpg", alt="")
                    div.projectText
                        h3 Maharashtra Jivan Pradhikaran
                        div.info
                            p #[span Capacity :] 15    
                            p #[span Generation :] -/Annum    
                            p #[span CO2 Reduction :] - Kg/Annum 
                        div.location
                            p #[span Location :] Mangrul Dastgir, District Amravati  

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/38.jpg", alt="")
                    div.projectText
                        h3 Mr. Tambi Sir
                        div.info
                            p #[span Capacity :] 13    
                            p #[span Generation :] -/Annum    
                            p #[span CO2 Reduction :] - Kg/Annum 
                        div.location
                            p #[span Location :] Amravati  

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/39.jpg", alt="")
                    div.projectText
                        h3 Dr Snehalata Salfale
                        div.info
                            p #[span Capacity :] 12    
                            p #[span Generation :] 18000/Annum    
                            p #[span CO2 Reduction :] 15893 Kg/Annum 
                        div.location
                            p #[span Location :] Jatpura, chandrapur   

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/40.jpg", alt="")
                    div.projectText
                        h3 Shri Parag Karwa
                        div.info
                            p #[span Capacity :] 12    
                            p #[span Generation :] -/Annum    
                            p #[span CO2 Reduction :] - Kg/Annum 
                        div.location
                            p #[span Location :] Amravati  

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/41.jpg", alt="")
                    div.projectText
                        h3 Shri Samarth High School
                        div.info
                            p #[span Capacity :] 10    
                            p #[span Generation :] -/Annum    
                            p #[span CO2 Reduction :] - Kg/Annum 
                        div.location
                            p #[span Location :] Amravati  

                

            div.waterPumping.projects-div
                h2 Solar Water Pumping Systems
                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/waterPumping.jpg", alt="")
                    div.projectText
                        h3 Groundwater Surveys and Development Agency
                        div.info
                            p #[span Capacity :] 1    
                            p #[span Generation :] 1500/Annum    
                            p #[span CO2 Reduction :] 1400 Kg/Annum 
                        div.location
                            p #[span Location :] Nagpur

            

            div.otherProjects.projects-div
                h2 Other Projects
                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/otherProjects1.jpg", alt="")
                    div.projectText
                        h3 Mr Jaikisan Kasat
                        div.info
                            p #[span Capacity :] 200    
                            p #[span Generation :] -/Annum    
                            p #[span CO2 Reduction :] 400 Kg/Annum 
                        div.location
                            p #[span Location :] Camp,Amravati

                div.project-card
                    div.projectImg
                        img(src="../public/img/projects/otherProjects2.jpg", alt="")
                    div.projectText
                        h3 Mr Gunvantrao Tikhile
                        div.info
                            p #[span Capacity :] 3    
                            p #[span Generation :] 1/Annum    
                            p #[span CO2 Reduction :] 1 Kg/Annum 
                        div.location
                            p #[span Location :] 50-B,Shankar Nagar ,Amravati





            div.projects-menu
                h3 Project Type
                div.project-menu-para
                    a#rooftop #[span(style="font-weight:700;") 1.] Rooftop System 
                    a#waterPump #[span(style="font-weight:700;") 2.] Solar Water Pumping Systems
                    a#other #[span(style="font-weight:700;") 3.] Other Projects



        include ./footer.pug

        script(src="../public/js/projects.js") 