doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="icon" href="../public/img/favicon.png">
        link(rel="stylesheet", href="../public/css/residentialBelow20Kw.css") 
        title Residential Below 20 Kw
    body 

        include ./nav.pug

        div.solutions-container
            div.cover-img
                img(src="../public/img/residential.jpg", alt="Solutions")

                div.solutions
                    h2 Solutions 

                    div.solutionsMsg
                        h3 Your neighbor is going solar! You should too!

                    

        div.residential-container
            h2 What is Solar Rooftop? 

            div.whatIsSolarRooftop
                p Rooftop solar is a photo voltaic system that has its electricity-generating solar panels mounted on the rooftop of a residential or commercial building or structure.The various components of such a system include photovoltaic modules, mounting systems, cables, solar inverters and other electrical accessories. Rooftop mounted systems are small compared to ground-mounted photo voltaic power stations with capacities in the megawatt range. Rooftop PV systems on residential buildings typically feature a capacity of about 5 to 20 kilowatts (kW), while those mounted on commercial buildings often reach 100 kilowatts or more.


            div.howSolarRooftopWork
                div.text
                    h3 How does a Solar Rooftop Works?
                    hr

                    div.paraHow
                        p For most homes, solar panels for home means rooftop solar panels – a solar array installed on your roof that generates electricity from the sun and helps you reduce your monthly spending on electricity. Most solar shoppers on the #[span(style="font-weight: 600") ECE India] see a positive return on investment from solar in seven to eight years.
                        p Solar panels work by converting light energy to usable electricity, which we can then use to power our homes and appliances. Solar panels save money over time on electricity costs and provide low-carbon, sustainable electricity.

                div.img
                    img(src="../public/img/rooftop.png", alt="alt")

            div.whyChooseUs-container
                h2 Why choose ECE India Energies as your rooftop solution provider?
                div.whyChooseUs
                    
                    div.text-why
                        p By choosing us and installing our solar modules on your rooftop -
                        ul 
                            li Saving on Electricity bills.
                            li Protection from future hikes in electricity costs.
                            li Low maintenance cost.
                            li Lower carbon footprints.
                            li Quality solar panels.
                            li Consultancy services.
                            li One stop solution.
                            li Plant tracking system.
                            li Huge engineering execution experience.
                            li you will be producing your own solar power to save money and the environment.

                    div.img-why
                        .why-image 
                            img(src="../public/img/residential/solarRooftop.jpg", alt="Solar Rooftop")


            div.planningRooftop
                h2 Planning Your Home Solar Rooftop System
                div.paraPlanning
                    p Home solar panels don’t just appear on your roof – there are many steps you’ll need to take to ensure you are a good fit for solar, understand your options, and eventually put panels on your property. At a high level, there are a few big steps to keep in mind : 

                    ul 
                        li 1. Determine your solar potential
                        li 2. Compare your solar options: rooftop vs. community solar
                        li 3. Estimate your needs
                        li 4. Get solar quotes
                        li 5. Understand how to pay for solar
                        li 6. Pick a quote and install
                        li 7. List of Documents required
                
                div.explanation

                    div.exp
                        h3 1. Determine your solar potential
                        hr

                        div.para
                            p There are a few things to consider when scoping out your home for rooftop solar. One factor to consider is the direction and tilt of your roof – although this is not a hard and fast rule, rooftop solar panels perform best on south-facing roofs with a slope between 15 and 40 degrees. 
                            p It’s also important to know how much sunlight your roof gets throughout the day. Solar panels need sunlight to produce electricity, so if your roof is shaded or otherwise obstructed by trees, chimneys, or anything else, that will impact how viable solar is for you.

                    div.exp
                        h3 2. Compare your solar options: rooftop vs. community solar
                        hr

                        div.para
                            p Perhaps one of the most exciting aspects of the residential solar energy sector is the list of options for homeowners who want to go solar but do not have a suitable roof. Ground mount solar installations and community solar subscriptions are two common ways to access power from the sun without actually installing anything on your rooftop. Community solar involves connecting with members of a group or your neighborhood to share a solar system, while ground-mounted arrays are an easy way to own and install your own system while bypassing any roofing hurdles.t’s also important to know how much sunlight your roof gets throughout the day. Solar panels need sunlight to produce electricity, so if your roof is shaded or otherwise obstructed by trees, chimneys, or anything else, that will impact how viable solar is for you.

                    div.exp
                        h3 3. Estimate your needs
                        hr

                        div.para
                            p Next, it’s time to roughly understand your solar needs, so you’re well-equipped to compare solar quotes. We estimate that a typical home needs about 20 to 25 solar panels to cover 100 percent of its electricity usage, but the actual number you’ll need to install depends on many factors. Location, panel efficiency, panel rated power, and your personal energy consumption habits all play a role in determining how many solar panels you need. Importantly, the number of solar panels you need for your home directly impacts the price you pay for solar.
                    div.exp
                        h3 4. Get solar quotes
                        hr

                        div.para
                            p Once you’re certain you’re a good fit for solar and understand your payment and financing options, it’s time to gather and compare competing quotes for solar. Historically, most solar shoppers only saw a single solar quote from a company going door-to-door selling solar in their neighborhood. But how can you be sure that you’re paying a fair price for the right system without gathering multiple quotes to compare? 
                    div.exp
                        h3 5. Understand how to pay for solar
                        hr

                        div.para
                            p There are many options when it comes to financing a rooftop solar panel system purchase; the main three are a cash purchase, solar loans, and solar leases or power purchase agreements (PPAs).
                            p If you can afford it, paying in cash for your rooftop solar panel system is the most surefire way to save money over the lifetime of your system. With full ownership of your panels and no interest to pay on a solar loan, you’ll usually see the highest return on a solar investment with a cash purchase.
                    div.exp
                        h3 6. Pick a quote and install
                        hr

                        div.para
                            p Once you have met with the installers and done all necessary site visits and planning, the actual installation of your home solar energy system will only take a few days of work. The exact time depends on a number of factors. For example, if you are setting up net metering, that process will tack on additional time until your panels are properly connected to the grid. Overall, while the decision process for solar panels can take some time, the installation timeframe is very quick and fairly simple.
                    
                    div.exp
                        h3 7. Documents Required
                        hr

                        div.para
                            ul 
                                li Electricity Bill.
                                li Copy of House Tax Bill or Property Card or Index-2 or Rent/Lease agreement or NOC of Society in case of Flat/Multistoried apartments or BU permission.
                                li Attach one additional set of Electricity bill Application form.
                                li Photo.
                                li Adhar card.


            div.exampleImages
                h2 Examples of Solar Rooftop System

                div.images
                    div.image
                        img(src="../public/img/residential/1.jpg", alt="Residential")
                    div.image
                        img(src="../public/img/residential/2.png", alt="Residential")
                    div.image
                        img(src="../public/img/residential/4.jpg", alt="Residential")
                    div.image
                        img(src="../public/img/residential/6.jpg", alt="Residential")


        



        include ./footer.pug


        script(src="../public/js/solutions.js") 