doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="icon" href="../public/img/favicon.png">
        link(rel="stylesheet", href="../public/css/residentialBelow20Kw.css") 
        title Residential Below 20 Kw
    body 

        include ./nav.pug

        div.solutions-container
            div.cover-img
                img(src="../public/img/residential.jpg", alt="Solutions")

                div.solutions
                    h2 Solutions 

                    div.solutionsMsg
                        h3 Your neighbor is going solar! You should too!dkfhskjdfhkjsdhfksjdhfkdjs


        



        include ./footer.pug


        script(src="../public/js/solutions.js") 