doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="icon" href="../public/img/favicon.png">
        link(rel="stylesheet", href="../public/css/solararkcss.css") 
        title Contact Us
    body

        include ./nav.pug

        #maindiv
            h3 Solarark Projects Private Limited
            span#bgblack
                | Solarark Projects Pvt. Ltd. is the subsidiary of ECE India which helps ECE India to do EPC of solar projects.
            h3
                b What does EPC means:
            h2
                b.bigletter E
                | ngineering
            ul.list
                li Reliable design with best in house engineering team.
                li State-of-the-art design software’s for compliance with international standards.
            h2
                b.bigletter P
                | rocurement
            ul.list
                li Equipment from top suppliers for trouble free operation.
                li Quality and certified products backed up by tie-ups with reputed vendors.
            h2
                b.bigletter C
                | onstruction
            ul.list
                li Robust execution techniques for insuring quality at all stages
                li Delivering projects in timely manner consistently with best field quality
                li Dedicated project teams for installation across India
                li Huge engineering execution experience
            p(id='')  What Solarark projects private limited offer:
            span#bgyellow
                | We have an in-house dedicated projects team which works in order to execute the projects which makes us a
                | complete one-stop shop for solar projects.
            p Following are the brief activities carried out by projects team -
            p
                | 1. 
                b Liasoning
                | : Includes all the process formalities (Name Chage, Demand Change, Online Forms, etc.) that are
                |             prerequisites before installing solar system
            p
                | 2. 
                b Design
                | : We have in-house designers who provide accurate design for the installation. We also provide the
                |             prospective system’s design to our clients beforehand.
            p
                | 3. 
                b Net Metering Application & Testing
                | : We do the necessary application for the net meter & test it from the
                |             authority before installing.
            p
                | 4. 
                b Maintenance
                | : We have a dedicated team for the maintenance of installed solar systems which monitors
                |             projects. We also provide a remote monitoring facility for our projects.

        
        include ./footer.pug


        script(src="../public/js/contactUs.js") 