doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="icon" href="../public/img/favicon.png">
        link(rel="stylesheet", href="../public/css/products.css") 
        
        title Products Solar Lantern
    body 

        include ./nav.pug


        div.products-container
            div.cover-img
                img(src="../public/img/solar16.jpg", alt="Career")

                div.products
                    h2 Products > Solar Home Lightening

                    div.productsMsg
                        h3 Solar Lantern


        div.products-sec
            h2 Solar Lantern

            div.card
                div.image
                    img(src="../public/img/products/solarLantern.png", alt="Product")
                div.specs
                    h3 Solar Lantern 
                    p •	Charge for 6 hrs in Sun
                    p •	Don’t charge longer than 2 hrs on electricity
                    p •	Don’t turn on light while charging
                    p •	Avoid close eye contact of light

                    div.download-button
                        a(href="../public/dataSheets/solarLantern.pdf" download) Download Data Sheet



            



            
        include ./footer.pug


        script(src="../public/js/products.js") 