doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="icon" href="../public/img/favicon.png">
        link(rel="stylesheet", href="../public/css/solarEPC.css")

        title Solar EPC
    body    

        include ./nav.pug

        div.solutions-container
            div.cover-img
                img(src="../public/img/solarEPC/solarEPC.jpg", alt="Solar EPC")

                div.solutions
                    h2 Solutions 

                    div.solutionsMsg
                        h3 When there's huge solar energy spill, its just called a "nice day".  

        

        div.solarEPC-sec
            h2 About Solar EPC

            div.solarEPC
                div.epc-text
                    p The Company offers Design, Detailed Engineering, Procurement, Installation and Commissioning services under Turnkey Solar EPC Solutions for Utility scale Ground-mounted, Rooftop and distributed, Solar Parks, CAPEX as well as OPEX projects.

                div.epc-img
                    div.img
                        img(src="../public/img/solarEPC/5.jpg", alt="")

        div.businessModels
            h3 Business Model we Offer:
            hr

            div.businessModel
                h4 CAPEX
                div.content
                    p Capex (Capital Expenditure) is a common business modal for solar deployment in India where the consumer purchases the solar PV system, by making 100% of the payment upfront of financing the system, often through a bank.

                    div.businessImg
                        img(src="../public/img/solarEPC/capex.jpg", alt="CAPEX")
                
                h4 OPEX
                div.content
                    p The highly skilled and dedicated EPC Team at ECE India assures the completion of each solar plant from concept to commissioning including its operation and maintenance for the complete lifespan of the plant.
                    
                    div.businessImg
                        img(src="../public/img/solarEPC/opex.jpg", alt="OPEX")


        div.EPC
            h3 What Does EPC mean?
            hr

            div.E
                h4 #[span E]ngineering

                ul
                    li Reliable design with best-in-class engineering team.
                    li State-of-the-art design software’s for compliance with international standards.

            div.P
                h4 #[span P]rocurement

                ul
                    li Equipment from top suppliers for maximum trouble free operation.
                    li Quality and certified products backed up by tie-ups and SLA with reputed vendors.
                    li Procurement team strength of 10+ having 2 decades of procurement experience.


            div.C
                h4 #[span C]onstruction

                ul
                    li Robust execution methodology for insuring quality at all stages
                    li Delivering projects in record time consistently with best field quality
                    li Dedicated project teams for installation across globe
                    li Huge engineering execution experience

        
        div.EPC
            h2 Images

        div.images
            div.image
                img(src="../public/img/solarEPC/1.jpg", alt="Solar EPC")
            div.image
                img(src="../public/img/solarEPC/2.jpg", alt="Solar EPC")
            div.image
                img(src="../public/img/solarEPC/3.jpg", alt="Solar EPC")
            div.image
                img(src="../public/img/solarEPC/4.jpg", alt="Solar EPC")


        include ./footer.pug


        script(src="../public/js/solutions.js") 