doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="icon" href="../public/img/favicon.png">
        link(rel="stylesheet", href="../public/css/products.css") 
        
        title Products Solar Insect Killer
    body 

        include ./nav.pug


        div.products-container
            div.cover-img
                img(src="../public/img/solar16.jpg", alt="Career")

                div.products
                    h2 Products > Solar Products

                    div.productsMsg
                        h3 Solar Insect Killer


        div.products-sec
            h2 Solar Insect Killer

            div.card
                div.image
                    img(style="object-fit:contain;" src="../public/img/products/solarInsectKiller.jpg", alt="Product")
                div.specs
                    h3 Solar Insect Killer Specifications
                    p #[span Light Type : ] 3 Watt UV Only
                    p #[span Battery : ] 6V, 2.5Ah SMF Battery
                    p #[span Solar Panel : ] 10Wp
                    p The device gets charged in the day time using sunlight and automatically switches on at dawn to trap harmful insects. Solar chargable and automatic timer device turn on by sunset and turn off after 4 hours of continious operation.

                    div.download-button
                        a(href="../public/dataSheets/solarInsectKiller.pdf" download) Download Data Sheet


            



            
        include ./footer.pug


        script(src="../public/js/products.js") 