doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="icon" href="../public/img/favicon.png">
        link(rel="stylesheet", href="../public/css/vendorRegistration.css") 
        title Vendor Registration Form
    body 

        include ./nav.pug


        div.vendors-container
            div.cover-img
                img(src="../public/img/solar6.jpg", alt="")  

                div.vendors
                    h2 Vendor Registration 

                    div.vendorsMsg
                        h3 Once you got a solar panel on a roof, energy is free...


        div.vendors-sec
            h2 Register here

            div.options
                    a.online-btn Register Online 
                    a.offline-btn Register Offline 

            div.online
                form#vendorForm(action="/vendorRegistration", method="post") 
                    div.companyDetails.sec
                        h3 Company Details
                        hr

                        div.input
                            input(type="text" placeholder="Company Name *" name = "companyName" required)
                            input(type="text" placeholder="Company Address *" name = "companyAddress" required)
                            input(type="text" placeholder="Area *" name = "area" required)
                            input(type="text" placeholder="City And State *" name = "cityAndState" required)
                            input(type="number" placeholder="Pincode/Zipcode *" name = "pincode" required)
                            input(type="number" placeholder="Phone Number *" name = "phoneNumber" required)
                            input(type="email" placeholder="Email Address *" name = "emailAdd" required)
                            input(type="text" placeholder="GST Number *" name = "gstNumber" required)
                            input(type="text" placeholder="CST Number *" name = "cstNumber" required)
                            input(type="text" placeholder="PAN Number *" name = "panNumber" required)
                            input(type="text" placeholder="Service Tax Number *" name = "serviceTaxNumber" required)
                            input(type="text" placeholder="Excise Reg. Number *" name = "exciseRegNumber" required)

                    
                    div.bankDetails.sec
                        h3 Bank Details 
                        hr

                        div.accounts
                            div.acc1
                                div.input
                                    h4 Account 1
                                    input(type="number" placeholder = "Bank A/C No *" name="bankAcNumber1" required)
                                    input(type="text" placeholder = "Bank A/C Name *" name="bankAcName1" required)
                                    input(type="text" placeholder = "Bank Name *" name="bankName1" required)
                                    input(type="text" placeholder = "IFSC Code *" name="ifscCode1" required)
                                    input(type="text" placeholder = "Branch *" name="branch1" required)
                            div.acc2
                                div.input
                                    h4 Account 2
                                    input(type="number" placeholder = "Bank A/C No" name="bankAcNumber2")
                                    input(type="text" placeholder = "Bank A/C Name" name="bankAcName2")
                                    input(type="text" placeholder = "Bank Name" name="bankName2")
                                    input(type="text" placeholder = "IFSC Code" name="ifscCode2")
                                    input(type="text" placeholder = "Branch" name="branch2")


                    div.contactPerson.sec
                        h3 Contact Person
                        hr

                        div.input
                            input(type="text" placeholder="Full Name *" name="name" required)
                            input(type="text" placeholder="Designation *" name="designation" required)
                            input(type="number" placeholder="Mobile Number *" name="mobileNumber" required)

                    
                    div.itemManufactured
                        h3 List of Items Manufactured
                        hr

                        div.input
                            textarea(placeholder="Enter List of Items Manufactured" name="itemsManufactured", cols="70", rows="5")


                    div.button
                        button Submit 


            div.offline
                div.offline-sec
                    h3 Steps to Register :
                    hr

                    div.para
                        p #[span(style="font-weight:600") 1.] Download the Vendor Registration form and print it.
                        p #[span(style="font-weight:600") 2.] Fill the Registration form with all the details carefully.
                        p #[span(style="font-weight:600") 3.] Send it to the Company Address: 

                        div.add
                            p ECE (India) Energies(P) Limited
                            p Plot No. F – 27,
                            p Amravati MIDC Area,
                            p Express Highway NH – 06,
                            p Amravati – 444 607(M.S.) INDIA
                        
                        p #[span(style="font-weight:600") 4.] Once we receive your application we will contact you.
                    
                    div.download-button
                        a(href="../public/forms/vendorRegistrationForm.pdf" download) Download Vendor Registration Form 


        if bool
            div.notification
                p Vendor registration successfull!, we will contact you soon!

        include ./footer.pug

        script(src="../public/js/vendorRegistration.js") 