@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");


:root{
	--theme : rgb(0, 67, 155);
	--old-color : rgb(0, 117, 196);
	--background : #0a122e;;
	--greyBackground : rgb(236, 234, 234);
	--whiteBgHead : #162661;
	--whiteBgText : rgb(79, 99, 114);
	--blueBgText : rgb(221, 221, 221);
	--extraDarkBackground : #030816;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
	outline: none;

}

body{
    width: 100%;
    margin: 0;
    padding: 0;
}

.achievements-nav a.active{
    color: var(--theme) !important;
}

.achievements-nav a.active::after{
    background-color: var(--theme) !important;
    width: 100% !important;
}


.awards-container{
    margin-top: 70px;
}

.cover-img{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: black;
}

.cover-img img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    opacity: 0.5;
}

.awards{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 40px 100px;
    overflow: hidden;
    user-select: none;
}

.awards h2{
    position: relative;
    color: white;
    font-size: 40px;
    user-select: none;
    padding-left: 15px;
}

.awards h2::after{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: white;
    border-radius: 10px;
}

.awardsMsg{
    max-width: 100%;
    color: var(--blueBgText);
    /* background-color: pink; */
    margin: 80px 200px;
    text-align: center;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 40px black;
}




.awards-sec{
    width: 100%;
    padding: 40px 100px;
}

.awards-sec h2{
    font-size: 40px;
    text-align: center;
       background: -webkit-linear-gradient(left,#01ACEF, #01A550);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.para{
    margin: 20px;
    text-align: center;
    font-size: 15px;
    color: var(--whiteBgText);
    font-weight: 500;
}

.para p{
    margin: 5px;
}

.awards-display{
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.subSec{
    display: flex;
    align-items: center;
    justify-content: center;
}

.award{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: purple; */
    margin: 20px;
    width: 300px;
}

.awardImg{
    width: 200px;
    height: 200px;
}

.awardImg img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 0.3s ease;
    user-select: none;
}

.awardImg img:hover{
    transform: scale(1.02);
}

.awardImgLast{
    width: 400px;
    height: 200px;
}

.awardImgLast img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 0.3s ease;
    user-select: none;
}

.awardImgLast img:hover{
    transform: scale(1.02);
}

.award p{
    font-weight: 700;
    font-size: 16px;
   background: -webkit-linear-gradient(left,#01ACEF, #01A550);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.big-award{
    user-select: none;
}




@media screen and (max-width:1024px) {
    .image{
        width: 100%;
        height: auto;
    }
    .awards{
        margin-top: 20px;
    }

    .awardsMsg{
        margin: 70px 100px;
    }

    .awards-sec{
        padding: 40px 50px;
    }

    .awards-display{
        flex-direction: column;
    }

    .big-award{
        display: none;
    }

}


@media screen and (max-width : 768px) {
    .awardsMsg{
        margin: 50px 50px;
    }
}

@media screen and (max-height : 540px) and (orientation : landscape) {
    /* .awards-container, .awards-sec{
        display: none;
    } */
}

@media screen and (max-width : 540px) {
    .examples{
        padding: 40px 10px;
    }

    .examples h2{
        font-size: 30px;
    }
    .awards{
        padding: 20px;
    }

    .awards h2{
        text-align: center;
    }

    .awards h2:after{
        width: 20%;
        margin-left: 52%;
        transform: translateX(-50%);
    }

    .awardsMsg{
        font-size: 15px;
        padding: 0px;
        margin: 80px 0;
    }

    .awards-sec h2{
        font-size: 30px;
    }

    .para{
        margin : 20px 0;
    }

    .para p{
        margin: 10px 0;
    }

    .awards-sec{
        padding: 40px 20px;
    }

    .subSec{
        flex-direction: column;
    }

    .awardImgLast{
        width: 100%;
    }


}




/* Awards Images */
.examples {
    padding: 40px 100px;
}

.examples h2{
    font-size: 40px;
       background: -webkit-linear-gradient(left,#01ACEF, #01A550);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 25px;
}

.example-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.image{
    width: 550px;
    height: 350px;
    overflow: hidden;
    margin: 5px;
}

.image img{
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

.image img:hover{
    transform: scale(1.01);
    filter: drop-shadow(0 0 10px grey);
    
}