@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");


:root{
	--theme : rgb(0, 67, 155);
	--old-color : rgb(0, 117, 196);
	/* --background :; */
	--greyBackground : rgb(236, 234, 234);
	--whiteBgHead : #162661;
	--whiteBgText : rgb(79, 99, 114);
	--blueBgText : rgb(221, 221, 221);
	--extraDarkBackground : #030816;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
	outline: none;

}

body{
    width: 100%;
    margin: 0;
    padding: 0;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


.inquiryForm, #darkBg{
    display: none;
}

.inquiryForm.active, #darkBg.active{
    display: block;
}

.close{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 2px;
}

.close:hover{
    background-color: white;
}

.close:hover .inquiry-line, .close:hover .inquiry-line:after{
    background-color: black;
}


.inquiry-line{
    display: block;
    margin: auto;
    /* position: relative; */
    width: 25px;
    height: 3px;
    background-color: white;
    transform: rotate(45deg) translate(0%, 0%);
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.3s ease;
}



.inquiry-line::after{
    /* position: absolute; */
    transform: translateY(20px);
    /* top: 10px; */
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    transform: rotate(-90deg) translate(0px, 0px);
    border-radius: 30px;
    transition: all 0.3s ease;
}



.inquiryForm{
    position: fixed;
    z-index: 9;
    background: linear-gradient(to right, #01ACEF, #01A550);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
}

.letsTalk{
    text-align: center;
    padding: 30px 40px;
}

.letsTalk h2{
    color: white;
    margin-bottom: 20px;
}

.inquiry-sec{
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.inquiry-sec input, .inquiry-sec textarea{
    padding: 10px 30px 10px 15px;
}
.inquiry-sec select{
    padding: 10px 74px 10px 15px;
    color:gray;
}
.inquiry-sec button{
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid white;
    color: white;
    transition: all 0.3s ease;
}

.inquiry-sec button:hover{
    background-color: var(--greyBackground);
    color: black;
}


#darkBg{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8;
    background-color: rgba(0, 0, 0, 0.5);
}



@media screen and (max-width: 540px) {
    .inquiryForm{
        width: 90%;
    }

    .close{
        top: 10px;
        right: 10px;
    }

    .letsTalk{
        padding: 20px 10px;
        /* overflow: scroll; */
    }

    .inquiry-sec{
        /* flex-direction: column; */
        align-items: center;
        justify-content: space-between;
        margin: 2px 0;
    }

    .inquiry-sec input,.inquiry-sec select
    {
        width: 80%;
        margin: 5px;
        padding: 10px 10px;
    }

    .inquiry-sec textarea{
        width: 100%;
        margin: 5px;
        padding: 10px 10px;
    }

    .inquiry-sec button{
        margin: 5px;
        padding: 10px 10px;
    }

}


@media screen and (max-width : 375px) {
    .inquiryForm{
        width: 95%;
    }

    .letsTalk{
        padding: 20px 5px;
    }

}


@media screen and (max-width: 360px) {
    .inquiryForm{
        transform: translate(-50%, -40%);
    }
    
}


@media screen and (max-width: 320px) {
    .inquiryForm{
        transform: translate(-50%, -40%);
    }

    .letsTalk{
        padding: 20px 5px;
    }

    .inquiry-sec input,.inquiry-sec select{
        width: 80%;
        margin: 5px 5px;
        padding: 5px 10px;
    }

    .inquiry-sec textarea{
        width: 100%;
        margin: 5px 5px;
        padding: 5px 10px;
    }

    .inquiry-sec button{
        margin: 5px 5px;
        padding: 5px 10px;
    }
    
}